<div class="card card-hover mb-5 w-100 cursor-pointer">

  <div class="ribbon ribbon-top-right bg-light">
    <ocm-toggle-favorite title="Favorite"
                         (click)="$event.stopPropagation()"
                         [favorite]="_isFavorite"
                         (favoriteChanged)="setIsFavorite($event.detail)"></ocm-toggle-favorite>
  </div>
  <a class="clickable-card d-flex flex-fill flex-column"
     name="{{_product.Name}}"
     (click)="toDetails()">
    <figure class="card-img-top">
      <img [src]="getImageUrl()"
           alt="{{ _product.ID }}" />
    </figure>
    <div class="card-body">
      <h5 class="card-title"
          title="{{ _product.Name }}">{{_product.Name}}
      </h5>
      <small class="card-text text-muted"
             [innerHtml]="_product.ID">
        {{ _product.ID }}
      </small>
      <p class="card-text">{{_product?.xp?.Facets?.supplier && _product?.xp?.Facets?.supplier[0]}}</p>
      <div class="d-flex flex-wrap justify-content-between align-items-center card-price">
        <p class="card-text mb-0"
           *ngIf="_product.PriceSchedule?.PriceBreaks">
          {{ _price | currency: _userCurrency }}
        </p>
        <small class="card-text text-muted">{{ _product | UofM }}</small>
        <label for="quantity"
               class="sr-only"
               translate>PRODUCTS.CARD.QUANTITY</label>
      </div>
    </div>
  </a>
  <div class="card-footer"
       *ngIf="showAddToCart() && !_product.xp.ArtworkRequired">
    <ocm-quantity-input id="quantity"
                        [existingQty]="null"
                        [product]="_product"
                        [priceSchedule]="_product.PriceSchedule"
                        (qtyChange)="setQuantity($event.detail)">
    </ocm-quantity-input>
    <button (click)="$event.stopPropagation();addToCart();"
            [disabled]="isAddingToCart || !qtyValid"
            class="btn btn-outline-secondary btn-block btn-sm"
            type="submit"
            translate>
      PRODUCTS.CARD.ADD <span class="d-md-none d-lg-inline"
            translate> PRODUCTS.CARD.TO_CART</span>
    </button>
  </div>
</div>