<div class="card mb-5 w-100 border-hover cursor-pointer">
  <div class="ribbon ribbon-top-right bg-light">
    <ocm-toggle-favorite title="Favorite"
                         (click)="$event.stopPropagation()"
                         [favorite]="_isFavorite"
                         (favoriteChanged)="setIsFavorite($event.detail)"></ocm-toggle-favorite>
  </div>
  <div class="d-flex flex-fill flex-column"
       (click)="toDetails()">
    <img class="card-img-top img-fluid flex-shrink-0"
         [src]="getImageUrl()"
         alt="{{ _product.ID }}" />
    <div class="card-body bg-light">
      <h5 class="card-title"
          title="{{ _product.Name }}">{{_product.Name}}
      </h5>
      <small class="card-text text-muted"
             [innerHtml]="_product.ID">
        {{ _product.ID }}
      </small>
      <p class="card-text">{{_product?.xp?.Facets?.supplier && _product?.xp?.Facets?.supplier[0]}}</p>
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <p class="card-text mb-0"
           *ngIf="_product.PriceSchedule?.PriceBreaks">
          {{ _price | currency: _userCurrency }}
        </p>
        <small class="card-text text-muted">{{ _product | UofM }}</small>
        <label for="quantity"
               class="sr-only"
               translate>PRODUCTS.CARD.QUANTITY</label>
      </div>
    </div>
  </div>
  <div class="card-footer"
       *ngIf="showAddToCart() && !_product.xp.ArtworkRequired">
    <ocm-quantity-input class="w-50"
                        id="quantity"
                        [existingQty]="null"
                        [product]="_product"
                        [priceSchedule]="_product.PriceSchedule"
                        (qtyChange)="setQuantity($event.detail)">
    </ocm-quantity-input>
    <button (click)="$event.stopPropagation()"
            [disabled]="isAddingToCart || !qtyValid"
            class="btn btn-outline-secondary btn-block small mt-2"
            type="submit"
            (click)="addToCart()"
            translate>
      PRODUCTS.CARD.ADD <span class="d-md-none d-lg-inline"
            translate> PRODUCTS.CARD.TO_CART</span>
    </button>
  </div>
</div>
