<resource-table-component [resourceList]="resourceList"
                          [resourceOptions]="resourceOptions"
                          [selectedResourceID]="selectedResourceID"
                          [updatedResource]="updatedResource"
                          [resourceInSelection]="resourceInSelection"
                          [ocService]="ocService"
                          [resourceForm]="resourceForm"
                          (searched)="searchResources($event)"
                          (hitScrollEnd)="handleScrollEnd()"
                          (changesSaved)="saveUpdates()"
                          (changesDiscarded)="discardChanges()"
                          (resourceDelete)="deleteResource()"
                          (applyFilters)="applyFilters()"
                          (resourceSelected)="selectResource($event)">

  <!-- filter component -->
  <!-- <form class="d-flex flex-column filters"
        [formGroup]="filterForm">
    <div *ngFor="let filter of filterConfig.Filters"
         class="group">
      <select class="form-control input-sm"
              type="select"
              required
              [formControlName]="filter.Path">
        <option *ngFor="let option of filter.Values"
                value="{{option}}">{{option}}</option>
      </select>
      <span class="highlight"></span>
      <label>{{filter.Display}}</label>
    </div>
  </form> -->

  <!-- edit user -->
  <div class="resource-edit">
    <form *ngIf="resourceForm"
          [formGroup]="resourceForm">
      <div class="form-group">
        <label for="Username">Username</label>
        <input type="text"
               class="form-control"
               id="Username"
               maxlength="100"
               aria-describedby="Username"
               formControlName="Username"
               (input)="handleUpdateResource($event, 'Username')"
               placeholder="Enter Username">
        <label for="FirstName">First Name</label>
        <input type="text"
               class="form-control"
               id="FirstName"
               maxlength="100"
               aria-describedby="FirstName"
               formControlName="FirstName"
               (input)="handleUpdateResource($event, 'FirstName')"
               placeholder="Enter FirstName">
        <label for="LastName">Last Name</label>
        <input type="text"
               class="form-control"
               id="LastName"
               maxlength="100"
               aria-describedby="LastName"
               formControlName="LastName"
               (input)="handleUpdateResource($event, 'LastName')"
               placeholder="Enter LastName">
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="text"
                 class="form-control"
                 id="Email"
                 maxlength="200"
                 showErrors
                 [resourceForm]="resourceForm"
                 aria-describedby="Email"
                 formControlName="Email"
                 (input)="handleUpdateResource($event, 'Email')"
                 placeholder="Enter Email">
        </div>
      </div>
    </form>
  </div>
</resource-table-component>