<!-- 98pc calced height is placeholder for now: will need to change to make responsive or if the layout srtructure is changed -->

<div class="resource-table-component-container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-header-container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-oc">
            <!-- make this the home icon -->
            <li class="breadcrumb-item"><a class="breadcrumb-link"
                 [routerLink]="'/'">
                <fa-icon [icon]="faHome">
                </fa-icon>
              </a></li>
            <li *ngFor="let breadCrumb of breadCrumbs"
                class="breadcrumb-item"><a class="breadcrumb-link"
                 [routerLink]="[breadCrumb.route]">{{breadCrumb.displayText}}</a></li>
          </ol>
        </nav>
        <div>
          <h1 class="resource-name">{{(parentResourceService ? _currentResourceNamePlural + ' - ' + selectedParentResourceName : _currentResourceNamePlural) | titlecase}}</h1>
          <hr />
        </div>
        <div class="d-flex justify-content-start pb-2">
          <div *ngIf="!isCreatingNew || parentResourceService"
               class="row subresource-selects">
            <div *ngIf="parentResourceService"
                 class="col-xs-6">
              <!-- parent resource dropdown -->
              <resource-select-dropdown-component [parentService]="parentResourceService"
                                                  [ocService]="_ocService"></resource-select-dropdown-component>
            </div>
            <div *ngIf="parentResourceService"
                 class="col-xs-6">
              <!-- sub resource dropdown -->
              <div ngbDropdown
                   class="d-inline-block parent-resource-dropdown">
                <!-- change to currently selected option  -->
                <button class="btn btn-outline-dark"
                        id="parentresourcedropdown"
                        ngbDropdownToggle>{{_currentResourceNamePlural | titlecase}}</button>
                <div ngbDropdownMenu
                     aria-labelledby="parent resource dropdown">
                  <button ngbDropdownItem
                          *ngFor="let subResource of parentResourceService.subResourceList"><a routerLink="/{{_ocService.primaryResourceLevel}}/{{selectedParentResourceID}}/{{subResource}}">
                      {{subResource | titlecase}}
                    </a></button>
                </div>
              </div>
            </div>
            <div *ngIf="!isCreatingNew">
              <!-- route accidentally works for both subresoures and first level resources because the extra / are ignored by the router it appears-->
              <button class="btn clear-filters-btn create-new-button brand-button--orange mr-3"
                      routerLink="/{{_ocService.route}}/{{selectedParentResourceID}}/{{_ocService.secondaryResourceLevel}}/new">Create New {{_currentResourceNameSingular}}</button>
            </div>
          </div>


          <form class="d-flex">
            <search-component class="mr-3 w-100"
                              [placeholderText]="'Search ' + _currentResourceNamePlural"
                              [searchTermInput]="searchTerm"
                              (searched)="searchedResources($event)">
            </search-component>
          </form>
          <div class="d-flex align-items-center justify-content-start filter-icon-container">
            <ng-template #filters>
              <div>
                <ng-content select=".filters"></ng-content>
                <div class="d-flex justify-content-between align-items-center">
                  <button (click)="closePopover()"
                          class="btn btn-sm btn-link text-dark">Cancel</button>
                  <button (click)="handleApplyFilters()"
                          class="btn btn-sm btn-primary">Apply</button>
                </div>
              </div>
            </ng-template>
            <div class="icon-button ripple"
                 placement="bottom"
                 [ngbPopover]="filters"
                 autoClose="outside"
                 triggers="manual"
                 #popover="ngbPopover"
                 (click)="openPopover()"
                 popoverTitle="Filter">
              <fa-layers class="fa-layers fa-fw">
                <fa-icon [icon]="faFilter">
                </fa-icon>
                <fa-layers-counter *ngIf="activeFilterCount && activeFilterCount > 0"
                                   class="badge__counter--large"
                                   style="background: gray"
                                   [content]="activeFilterCount">
                </fa-layers-counter>
              </fa-layers>
            </div>
            <div *ngIf="activeFilterCount > 0"
                 class="icon-button ripple">
              <fa-icon [icon]="faTimes"
                       (click)="clearFilters()"></fa-icon>
            </div>
          </div>
          <div>
            <button class="btn brand-button clear-filters-btn"
                    (click)="clearAllFilters()">Clear All Filters</button>
          </div>
        </div>
      </div>

      <!-- full table view -->
      <div *ngIf="!selectedResourceID && !isCreatingNew"
           class="row resource-table-container">
        <perfect-scrollbar class="scrollbar-top"
                           style="width: 100%; height: calc(100vh - 255px);"
                           (psYReachEnd)="handleScrollEnd()">
          <full-resource-table-component [resourceType]="_ocService.secondaryResourceLevel || _ocService.primaryResourceLevel"
                                         [requestStatus]="requestStatus"
                                         (resourceSelected)="handleSelectResource($event)"
                                         [resourceList]="resourceList"></full-resource-table-component>
          <request-status [requestStatus]="requestStatus"
                          [subResourceName]="_ocService.secondaryResourceLevel || ''"
                          [selectedParentResouceName]="selectedParentResourceName">
          </request-status>
        </perfect-scrollbar>
      </div>
      <!--
                                         editing/creating
                                         view
                                         -->
      <div *ngIf="selectedResourceID || isCreatingNew"
           class="row resource-table-container">
        <div class="col-3 p-0">
          <perfect-scrollbar style="width: 100%; height: calc(100vh - 255px);"
                             (psYReachEnd)="handleScrollEnd()"
                             class="resource-table-side">
            <table *ngIf="requestStatus === 'GETTING_NEW_ITEMS' || requestStatus === 'SUCCESSFUL_WITH_ITEMS' || requestStatus === 'REFRESHING_ITEMS'"
                   class="table table-hover resource-table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                </tr>
              </thead>

              <!-- successfull response with items -->
              <tbody>
                <tr *ngIf="
                     isCreatingNew"
                    class="selectable-row selected-resource">
                  <td>
                    <summary-resource-display-component [isNewPlaceHolder]="true"
                                                        [resourceType]="_ocService.secondaryResourceLevel || _ocService.primaryResourceLevel">
                    </summary-resource-display-component>
                  </td>
                </tr>
                <tr *ngFor="let resource of resourceList.Items"
                    (click)="handleSelectResource(resource)"
                    class="selectable-row"
                    [ngClass]="{'selected-resource': selectedResourceID === resource.ID}">
                  <td>
                    <summary-resource-display-component [resource]="resource"
                                                        [resourceType]="_ocService.secondaryResourceLevel || _ocService.primaryResourceLevel">
                    </summary-resource-display-component>
                  </td>
                </tr>
                <tr>
                  <td *ngIf="resourceList?.Meta?.Page < resourceList?.Meta?.TotalPages">More resources</td>
                </tr>
              </tbody>

            </table>
            <request-status [requestStatus]="requestStatus"
                            [subResourceName]="_ocService.secondaryResourceLevel || ''"
                            [selectedParentResouceName]="selectedParentResourceName">
            </request-status>
          </perfect-scrollbar>
        </div>
        <div class="col-9">
          <div class="pt-3 pb-3 d-flex flex-row justify-content-between resource-title-container">
            <span class="d-flex flex-row justify-content-start">
              <button class="btn brand-button"
                      (click)="handleSelectResource({})">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
                back
              </button>
              <h3 class="d-inline-block ml-5 mb-0">{{_resourceInSelection.Name || _resourceInSelection.Username || _resourceInSelection.AddressName}}</h3>
            </span>
            <span *ngIf="!parentResourceService && _ocService.subResourceList && _ocService.subResourceList.length && !isCreatingNew">
              <a class="btn brand-button ml-3"
                 *ngFor="let subResource of _ocService.subResourceList"
                 [routerLink]="[subResource]">
                Manage {{subResource}}
              </a>
            </span>
          </div>
          <perfect-scrollbar style="width: 100%; height: calc(100vh - 325px);">
            <ng-content select=".resource-edit">
            </ng-content>
          </perfect-scrollbar>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="resourceForm.status === 'INVALID'"
                  (click)="handleSave()"
                  *ngIf="areChanges">{{!isCreatingNew ? 'Save Changes': 'Create Resource'}}</button>
          <button class="btn brand-button ml-3"
                  (click)="handleDiscardChanges()"
                  *ngIf="areChanges && !isCreatingNew">Discard Changes</button>
          <delete-confirm-modal-component *ngIf="!isCreatingNew"
                                          (deleteConfirmed)="handleDelete($event)"></delete-confirm-modal-component>
        </div>
      </div>
    </div>
  </div>
</div>