<!-- Breadcrumbs -->
<div class="d-flex justify-content-between align-items-center bg-primary-dark base-layout-item">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-oc">
      <!-- make this the home icon -->
      <li class="breadcrumb-item">
        <a class="breadcrumb-link"
           [routerLink]="'/'">
          <fa-icon [icon]="faHome">
          </fa-icon>
        </a>
      </li>
      <li *ngFor="let breadCrumb of breadCrumbs"
          class="breadcrumb-item">
        <a class="breadcrumb-link"
           [routerLink]="[breadCrumb.route]">{{breadCrumb.displayText | titlecase}}
        </a>
      </li>
    </ol>
  </nav>
</div>
<!-- /Breadcrumbs -->
<div class="container-fluid">
  <!-- Page Title -->
  <div class="row base-layout-item">
    <div class="col-md-12">
      <div class="py-3">
        <h1 class="resource-name mb-0">{{(parentResourceService ? _currentResourceNamePlural + ' - ' + selectedParentResourceName : _currentResourceNamePlural) | titlecase}}</h1>
      </div>
    </div>
    <!-- /Page Title -->
  </div>
  <!-- /Page Title -->
  <!-- Filter Bar -->
  <div *ngIf="!isMyResource"
       class="row additional-item-edit-resource additional-item-table">
    <div *ngIf="parentResourceService"
         class="col-lg-3 col-md-4 col-sm-5 parent-resources">
      <!-- parent resource dropdown -->
      <resource-select-dropdown-component class="btn-block resource-btn mr-1 mb-1"
                                          [parentService]="parentResourceService"
                                          [ocService]="_ocService">
      </resource-select-dropdown-component>
      <!-- /parent resource dropdown -->
      <!-- sub resource dropdown -->
      <div ngbDropdown
           class="d-inline-block parent-resource-dropdown btn-block mt-0 mb-1">
        <!-- change to currently selected option  -->
        <button class="btn btn-block btn-outline-dark"
                id="parentresourcedropdown"
                ngbDropdownToggle>{{_currentResourceNamePlural | titlecase}}</button>
        <div ngbDropdownMenu
             aria-labelledby="parent resource dropdown"
             class="w-100">
          <button ngbDropdownItem
                  *ngFor="let subResource of parentResourceService.subResourceList"><a routerLink="/{{_ocService.primaryResourceLevel}}/{{selectedParentResourceID}}/{{subResource}}">
              {{subResource | titlecase}}
            </a></button>
        </div>
      </div>
      <!-- /sub resource dropdown -->
    </div>
    <div class="col-md-3 col-sm-7 d-flex justify-content-start align-items-center"
         *ngIf="!isCreatingNew && shouldShowCreateNew">
      <!-- route accidentally works for both subresoures and first level resources because the extra / are ignored by the router it appears-->
      <button class="btn btn-block brand-button--orange"
              routerLink="/{{_ocService.route}}/{{selectedParentResourceID}}/{{_ocService.secondaryResourceLevel}}/new">
        Create New {{_currentResourceNameSingular | titlecase}}
      </button>
    </div>
    <div class="col-lg-4 col-md-4">
      <!-- Resource Search -->
      <div class="mr-2 d-flex justify-content-between align-items-center">
        <search-component class="mr-3 w-100"
                          [placeholderText]="'Search ' + _currentResourceNamePlural"
                          [searchTermInput]="searchTerm"
                          (searched)="searchedResources($event)">
        </search-component>
        <ng-content class="w-100"
                    select=".orderDirection"></ng-content>
        <div class="filter-controls">
          <div class="icon-button ripple"
               placement="{{screenSize === 'xs' && 'sm' && 'md' ? 'left' : 'bottom'}}"
               [ngbPopover]="filters"
               autoClose="outside"
               triggers="manual"
               #popover="ngbPopover"
               (click)="openPopover()"
               popoverTitle="Filter">
            <fa-layers class="fa-layers fa-fw">
              <fa-icon [icon]="faFilter">
              </fa-icon>
              <fa-layers-counter *ngIf="activeFilterCount && activeFilterCount > 0"
                                 class="badge__counter--large"
                                 style="background: gray"
                                 [content]="activeFilterCount">
              </fa-layers-counter>
            </fa-layers>
          </div>
          <div *ngIf="activeFilterCount > 0"
               class="icon-button ripple">
            <fa-icon [icon]="faTimes"
                     (click)="clearAllFilters()"></fa-icon>
          </div>
        </div>
      </div>
      <!-- ngContent for filters popover -->
      <ng-template #filters>
        <div>
          <ng-content select=".filters"></ng-content>
          <div class="d-flex justify-content-between align-items-center">
            <button (click)="closePopover()"
                    class="btn btn-sm btn-link text-dark">Cancel</button>
            <button (click)="handleApplyFilters()"
                    class="btn btn-sm btn-primary">Apply</button>
          </div>
        </div>
      </ng-template>
      <!-- /ngContent for filters popover -->
    </div>
  </div>
  <!-- /Filter Bar -->
  <div class="row">
    <div class="col-md-12">
      <!-- full table view -->
      <div *ngIf="!selectedResourceID && !isCreatingNew && !isMyResource">
        <perfect-scrollbar id="perfectScroll"
                           class="scrollbar-top"
                           style="width: 100%;"
                           [ngStyle]="{'height.px': tableHeight}"
                           (psYReachEnd)="handleScrollEnd()">
          <full-resource-table-component [resourceType]="_ocService.secondaryResourceLevel || _ocService.primaryResourceLevel"
                                         [requestStatus]="requestStatus"
                                         (resourceSelected)="handleSelectResource($event)"
                                         [resourceList]="resourceList"></full-resource-table-component>
          <request-status [requestStatus]="requestStatus"
                          [subResourceName]="_ocService.secondaryResourceLevel || ''"
                          [selectedParentResouceName]="selectedParentResourceName">
          </request-status>
        </perfect-scrollbar>
      </div>
      <!-- editing/creating view -->
      <div *ngIf="(selectedResourceID || isCreatingNew) && !isMyResource"
           class="row resource-table-container">
        <div class="col-3 p-0 d-md-block d-none">
          <perfect-scrollbar style="width: 100%;"
                             [ngStyle]="{'height.px': tableHeight}"
                             (psYReachEnd)="handleScrollEnd()"
                             class="resource-table-side">
            <table *ngIf="requestStatus === 'GETTING_NEW_ITEMS' || requestStatus === 'SUCCESSFUL_WITH_ITEMS' || requestStatus === 'REFRESHING_ITEMS' || requestStatus === 'FETCHING_SUBSEQUENT_PAGES'"
                   class="table table-hover resource-table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                </tr>
              </thead>

              <!-- successfull response with items -->
              <tbody>
                <tr *ngIf="
                     isCreatingNew"
                    class="selectable-row selected-resource">
                  <td>
                    <summary-resource-display-component [isNewPlaceHolder]="true"
                                                        [resourceType]="_ocService.secondaryResourceLevel || _ocService.primaryResourceLevel">
                    </summary-resource-display-component>
                  </td>
                </tr>
                <tr *ngFor="let resource of resourceList.Items"
                    (click)="handleSelectResource(resource)"
                    class="selectable-row"
                    [ngClass]="{'selected-resource': selectedResourceID === resource.ID}">
                  <td>
                    <summary-resource-display-component [resource]="resource"
                                                        [resourceType]="_ocService.secondaryResourceLevel || _ocService.primaryResourceLevel">
                    </summary-resource-display-component>
                  </td>
                </tr>
              </tbody>

            </table>
            <request-status [requestStatus]="requestStatus"
                            [subResourceName]="_ocService.secondaryResourceLevel || ''"
                            [selectedParentResouceName]="selectedParentResourceName">
            </request-status>
          </perfect-scrollbar>
        </div>
        <div class="col-md-9 col-sm-12">
          <div class="pt-3 pb-3 d-flex flex-row justify-content-between resource-title-container additional-item-edit-resource">
            <span class="d-flex flex-row justify-content-start">
              <button class="btn brand-button"
                      (click)="handleSelectResource({})">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
                back
              </button>
              <h3 class="d-inline-block ml-5 mb-0">{{_resourceInSelection.Name || _resourceInSelection.Username || _resourceInSelection.AddressName}}</h3>
            </span>
            <span *ngIf="!parentResourceService && _ocService.subResourceList && _ocService.subResourceList.length && !isCreatingNew">
              <a class="btn brand-button ml-3"
                 *ngFor="let subResource of _ocService.subResourceList"
                 [routerLink]="[subResource]">
                Manage {{subResource}}
              </a>
            </span>
          </div>
          <div *ngIf="!isMyResource">
            <ng-content *ngTemplateOutlet="editUnwrapped">
            </ng-content>
          </div>
        </div>
      </div>

      <!-- ng content can only be used once for transclusion, ngTemplatOutlets are required so that 
      we are only using the component once in the resource table -->

      <ng-container *ngIf="isMyResource">
        <div *ngTemplateOutlet="editUnwrapped"></div>
      </ng-container>
      <ng-template #editUnwrapped>
        <div>
          <perfect-scrollbar style="width: 100%;"
                             [ngStyle]="{'height.px': editResourceHeight}">
            <ng-content select=".resource-edit">
            </ng-content>
          </perfect-scrollbar>
          <div *ngIf="shouldShowResourceActions"
               class="d-flex justify-content-between align-items-center py-2 additional-item-edit-resource">
            <delete-confirm-modal-component *ngIf="!isCreatingNew"
                                            buttonText="Delete {{_currentResourceNameSingular | titlecase}}"
                                            (deleteConfirmed)="handleDelete($event)">
            </delete-confirm-modal-component>
            <div>
              <button *ngIf="areChanges"
                      class="btn btn-primary"
                      type="submit"
                      [disabled]="resourceForm.status === 'INVALID'"
                      (click)="handleSave()">{{!isCreatingNew ? 'Save Changes': 'Create Resource'}}</button>
              <button class="btn brand-button ml-3"
                      (click)="handleDiscardChanges()"
                      *ngIf="areChanges && !isCreatingNew">Discard Changes</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>