@import "../../../../styles/main.scss";

.resource-table tbody .selectable-row {
    cursor: pointer;
}

.resource-table-side {
    border-right: 1px solid $gray-300;
}

.resource-search {
    width: 200px;
}

.selected-resource {
    background-color: lightgrey;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
  
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, rgb(73, 73, 73) 10%, transparent 5.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
  
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}
  

  .icon-button {
  padding: .75rem 1rem;
  border-radius: 180px;
  transition: background-color .25s;
  &:hover {
    background-color: rgba($gray-900, 0.1);
    cursor: pointer;
  }
}

.badge__counter--large {
  ::ng-deep {
    .fa-layers-counter {
      height: 1.5em;
      top: -10px;
      right: -12px;
      font-size: 45px;
      background-color: $primary;
    }
  }
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 0.9rem;
  .breadcrumb-item {
    display: flex;
    align-items: center;
    &:first-child {
      &::before {
        display: none;
      }
    }
    &::before {
      content: "\f054";
      font-weight: 300;
      font-size: 0.5rem;
      margin-top: 0.2rem;
      font-family: FontAwesome;
      color: $navy-300;
    }
    .breadcrumb-link {
      color: $navy-300;
    }
    &:last-child {
      .breadcrumb-link {
        color: $navy-100;
      }
    }
  }
}

.resource-title-container {
  border-bottom: 1px solid rgba($gray-900, 0.1);
} 

.resource-name {
  font-size: 22px;
  @include media-breakpoint-up(sm) {
    font-size: 28px;
  }
  // margin-top: -24px;
}

.parent-resources {
  @include media-breakpoint-up(sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}