@import "../../../../styles/main.scss";

.resource-table tbody .selectable-row {
    cursor: pointer;
}

.resource-table-side {
    border-right: 1px solid $gray-300;
}

.resource-search {
    width: 200px;
}

.selected-resource {
    background-color: lightgrey;
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(73, 73, 73) 10%, transparent 5.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }
  
  .ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }
  

  .icon-button {
    padding: .75rem 1rem;
    border-radius: 180px;
    transition: background-color .25s;
    &:hover {
      background-color: rgba($gray-900, 0.1);
      cursor: pointer;
    }
  }
  
  /* form starting stylings ------------------------------- */
  .group {
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
  :host {
    select {
      display: block;
    }
    select:focus {
      box-shadow: none;
      outline: none;
    }
  }
  
  /* LABEL ======================================= */
  label {
    color: #999;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }
  
  /* active state */
  select:focus ~ label,
  select:valid ~ label {
    top: -8px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: white;
    font-size: 10px;
    color: $dark;
    font-weight: bold;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: auto;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  /* active state */
  select:focus ~ .highlight {
    animation: selectHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @keyframes selectHighlighter {
    from {
      background: $primary;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  
  .badge__counter--large {
    ::ng-deep {
      .fa-layers-counter {
        height: 1.5em;
        top: -10px;
        right: -12px;
        font-size: 45px;
        background-color: $primary;
      }
    }
  }

.table-header-container {
  margin-left: 30px;
}

.breadcrumb-oc {
  background-color: transparent;
}

.breadcrumb-link {
  color: $brand-navy;
}

.parent-resource-dropdown {
  margin-right: 20px;
}

.subresource-selects {
  margin-left: 0px;
  margin-right: 30px;
  border-right: 1px solid rgba($gray-900, 0.1);
}

.filter-icon-container {
  margin-top: -5px;
  margin-right: 10px;
}

.filter-container{
  height: 34px;
  margin-left: 25px;
}

.resource-table-container {
  border-top: 1px solid rgba($gray-900, 0.1);
  width: 99%;
  margin: 0 auto;
}

.resource-title-container {
  border-bottom: 1px solid rgba($gray-900, 0.1);
} 

.create-new-button {
  width: 300px;
}