<div *ngIf="suggestedAddresses">
  <p>Did you mean...</p>
  <div class="btn-group btn-group-toggle"
       role="group">
    <button *ngFor="let address of suggestedAddresses"
            type="button"
            class="btn btn-outline-primary"
            [ngClass]="{'active': activeAddress === address}"
            (click)="setActiveAddress(address)">{{address.AddressName}} {{address.CompanyName}} {{address.Street1}} {{address.Street2}} {{address.City}} {{address.State}} {{address.Zip}} {{address.Country}}</button>
  </div>
</div>