<button *ngIf="_tableStatus === 'Default' && canChangeTo('Backordered')"
        (click)="changeTableStatus('Backordered')"
        class="ml-3 mb-3 btn btn-outline-dark">
  Mark Items as Backordered
</button>
<button *ngIf="_tableStatus === 'Default' && canChangeTo('Canceled')"
        (click)="changeTableStatus('Canceled')"
        class="ml-3 mb-3 btn btn-outline-dark">
  Mark Items as Canceled
</button>
<button *ngIf="_tableStatus === 'Default' && canChangeTo('Returned')"
        (click)="changeTableStatus('Returned')"
        class="ml-3 mb-3 btn btn-outline-dark">
  Mark Items as Returned
</button>
<button *ngIf="_tableStatus !== 'Default'"
        (click)="changeTableStatus('Default')"
        class="ml-3 mb-3 btn btn-outline-dark">
  Abandon Changes
</button>
<button *ngIf="_tableStatus !== 'Default'"
        [disabled]="!areChanges() || !_statusChangeForm.valid || isSaving"
        (click)="saveChanges()"
        class="ml-3 mb-3 btn btn-dark">
  Save Changes
</button>
<div *ngIf="_liGroupedByShipFrom?.length > 0 && !createShipment">
  <div class="card border shadow-sm mb-4"
       *ngFor="let liGroup of _liGroupedByShipFrom; let shipFromIndex = index">
    <div class="card-header p-3">
      <div class="
         row">
        <div class="col">
          <h5 class="card-title mb-0">
            Ship From: {{ liGroup[0].ShipFromAddress.CompanyName }}
            <small class="text-muted d-block">
              <span>{{ liGroup[0].ShipFromAddress.Street1 }}<span *ngIf="liGroup[0].ShipFromAddress?.Street2">, {{liGroup[0].ShipFromAddress.Street2}}</span>,
                {{ liGroup[0].ShipFromAddress.City }}, {{ liGroup[0].ShipFromAddress.State }} {{ liGroup[0].ShipFromAddress.Zip }}</span>
            </small>
          </h5>
        </div>
      </div>
      <ng-content></ng-content>
    </div>

    <!-- what is this? -->
    <!-- <div *ngIf="!isQuoteOrder"
         class="px-3 pt-2 d-none d-sm-block border-bottom">
      <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-5">
          <div class="row">
            <div class="col-4 text-center">
              <h6>Price</h6>
            </div>
            <div class="col-4 text-center">
              <h6>Qty</h6>
            </div>
            <div class="col-4 text-center">
              <h6>Total</h6>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div [formGroup]="_statusChangeForm"
         class="table-responsive">
      <table class="table table-bordered table-hover display-table">
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Product</th>
            <th>Description</th>
            <th *ngIf="_tableStatus === 'Default'">Quantity</th>
            <th *ngIf="_tableStatus !== 'Default'">Available to Set</th>
            <th *ngIf="_tableStatus !== 'Default'">Amount to {{ _tableStatus === 'Canceled' ? 'Cancel': 'Backorder'}}</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let li of liGroup; let lineItemIndex = index">
            <td class="align-middle">
              <div class="d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center">
                  <h6>
                    <span>{{ li.ID }}</span>
                  </h6>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex align-items-center justify-content-center">
                <img [id]="i"
                     [src]="li.xp?.ImageUrl || getImageUrl(li.ID)"
                     width="auto"
                     height="100px"
                     class="d-print-none">
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex align-items-center">
                <h6>
                  <span>{{ li.Product.Name }}
                    <span *ngIf="li.Variant?.xp?.SpecCombo">({{li.Variant.xp.SpecCombo}})</span>
                  </span>
                  <small class="text-muted d-block">{{ li.Product.ID }}</small>
                  <span *ngIf="li.Product.xp?.ProductType === 'PurchaseOrder'"
                        class="
                      badge
                      badge-pill
                      badge-primary">Purchase Order</span>
                </h6>
              </div>
            </td>
            <td *ngIf="_tableStatus === 'Default'"
                class="align-middle text-center">
              {{ li.Quantity }}
            </td>
            <td *ngIf="_tableStatus !== 'Default'"
                class="align-middle text-center">
              {{ quantityCanChange(li) }}
            </td>
            <td *ngIf="_tableStatus !== 'Default' && _statusChangeForm.controls"
                class="align-middle text-center">
              <input type="number"
                     min="0"
                     showErrors
                     [formControl]="_statusChangeForm.controls[shipFromIndex].controls[lineItemIndex]"
                     max="{{quantityCanChange(li)}}">
            </td>
            <td class="align-middle">
              <span>Status:
                {{ getLineItemStatusDisplay(li)}}
              </span>
              <div *ngIf="li.xp.LineItemReturnInfo?.QuantityToReturn > 0">
                <div class="d-flex flex-column">
                  <small>Qty Returned: {{ li.xp.LineItemReturnInfo?.QuantityToReturn }}</small>
                  <small>Reason: {{ getReturnReason(li.xp.LineItemReturnInfo?.ReturnReason) }}</small>
                  <small *ngIf="li.xp.LineItemReturnInfo.Comment">Comment: {{li.xp.LineItemReturnInfo.Comment}}</small>
                </div>
              </div>
              <return-form *ngIf="li.xp.LineItemStatus === 'ReturnRequested' && isSellerUser"
                           [order]="_order"
                           (lineItemUpdate)="handleLineItemUpdate()"
                           [lineItem]="li"></return-form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>