@import '../../../../styles/secondary.scss';
.address-card {
  .hover-btn {
    opacity: 0;
    @include media-breakpoint-down(md) {
      opacity: 1;
    }
    transition: 200ms ease all;
  }
  border-bottom: 1px solid $gray-200;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    .hover-btn {
      opacity: 1;
    }
  }
}