<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h1>Suppliers</h1>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <form class="d-flex">
          <ocm-search class="mr-3 w-100"
                      [placeholderText]="'Search Suppliers...'"
                      [searchTermInput]="searchTermForSuppliers"
                      (searched)="searchSuppliers($event.detail)">
          </ocm-search>
        </form>
        <div class="d-flex align-items-center justify-content-start">
          <ng-template #filters>
            <div>
              <div *ngIf="_supplierCategoryConfig">
                <form class="d-flex flex-column"
                      [formGroup]="filterForm">
                  <div *ngFor="let filter of _supplierCategoryConfig.Filters"
                       class="group">
                    <select class="form-control input-sm"
                            type="select"
                            required
                            [formControlName]="filter.Path">
                      <option *ngFor="let option of filter.Values"
                              value="{{option}}">{{option}}</option>
                    </select>
                    <span class="highlight"></span>
                    <label>{{filter.Display}}</label>
                  </div>
                </form>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <button (click)="closePopover()"
                        class="btn btn-sm btn-link text-dark">Cancel</button>
                <button (click)="applyFilters()"
                        class="btn btn-sm btn-primary">Apply</button>
              </div>
            </div>
          </ng-template>
          <div class="icon-button ripple"
               placement="bottom"
               [ngbPopover]="filters"
               autoClose="outside"
               triggers="manual"
               #popover="ngbPopover"
               (click)="openPopover()"
               popoverTitle="Filter">
            <div class="icon-wrapper">
              <fa-layers class="fa-layers fa-fw">
                <fa-icon [icon]="faFilter">
                </fa-icon>
                <fa-layers-counter *ngIf="activeFilterCount && activeFilterCount > 0"
                                   class="badge__counter--large"
                                   style="background: gray"
                                   [content]="activeFilterCount">
                </fa-layers-counter>
              </fa-layers>
            </div>
          </div>
          <ocm-supplier-sort (closePopoverEvent)="closePopover($event.detail)"></ocm-supplier-sort>
          <div *ngIf="activeFilterCount > 0"
               class="icon-button ripple">
            <div class="icon-wrapper">
              <fa-icon [icon]="faTimes"
                       (click)="clearFilters()"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <ocm-loading-layout height="234px"
                          width="100%"
                          mb="1.5rem"
                          [resource]="suppliers"
                          [columns]="1"
                          [rows]="4">
      </ocm-loading-layout>
      <div class="card"
           *ngIf="suppliers && suppliers.Items.length === 0">
        <div class="card">
          <p class="card-body text-center">
            No Suppliers found.
            <br>
            <a class="link"
               (click)="clearFilters()">Clear all Filters</a>
          </p>
        </div>
      </div>
      <div *ngIf="suppliers && suppliers.Items.length > 0">
        <div class="supplier-list"
             *ngFor="let supplier of suppliers.Items">
          <ocm-supplier-card [supplier]="supplier"></ocm-supplier-card>
        </div>
        <ngb-pagination *ngIf="suppliers.Meta.TotalPages > 1"
                        maxSize="10"
                        class="d-flex justify-content-center"
                        [collectionSize]="suppliers.Meta.TotalCount"
                        [pageSize]="suppliers.Meta.PageSize"
                        [(page)]="suppliers.Meta.Page"
                        (pageChange)="changePage($event)"
                        [rotate]="true"
                        [boundaryLinks]="true">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>