<ng-container>
  <div class="d-flex justify-content-center align-items-center">
    <img class="wtc-image"
         [src]="this.URL"
         alt="">
  </div>
  <!-- TODO: This should all be dynamic, and using the CMS.  It's hardcoded right now for display purposes. -->
  <div class="supplier d-flex justify-content-center align-items-center">
    <div class="supplier-featured d-flex flex-column align-items-center text-right">
      <h4 class="supplier-featured-header">Studio Essentials</h4>
      <p>Self Esteem Brands Distribution</p>
      <button (click)="toSupplier('Self Esteem Brands Distribution')"
              class="btn btn-sm btn-info text-white">Shop Now</button>
    </div>
    <div class="supplier-featured d-flex flex-column align-items-center text-left">
      <h4 class="supplier-featured-header">Think clean</h4>
      <p>Dyson</p>
      <button (click)="toSupplier('Dyson')"
              class="btn btn-sm btn-info text-white">Shop Now</button>
    </div>
  </div>
  <div class="container-fluid">
    <!-- Featured products can be managed in the seller application -->
    <ocm-product-carousel *ngIf="featuredProducts?.length"
                          [displayTitle]="'Featured Products'"
                          [products]="featuredProducts">
    </ocm-product-carousel>
  </div>
</ng-container>