<div class="container mt-3">
  <div class="row">
    <div class="row d-md-none flex-grow-1 mx-1">
      <div class="col-sm-12">
        <div ngbDropdown>
          <button class="btn btn-block btn-default btn-outline-dark mb-2"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                  translate>PROFILE.PROFILE_NAV.ACC_SELECTIONS</button>
          <div ngbDropdownMenu
               aria-labelledby="dropdownBasic1"
               class="w-100 text-center">
            <button *ngFor="let profileSection of profileSections"
                    class="dropdown-item"
                    (click)="context.router[profileSection.routerCall]()">{{profileSection.displayText}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3  d-none d-md-flex">
      <ul class="nav flex-column">
        <li *ngFor="let profileSection of profileSections"
            class="nav-item side-nav-button mb-3 cursor-pointer">
          <a class="link text-primary"
             (click)="context.router[profileSection.routerCall]()">{{profileSection.displayText}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-12">
      <slot></slot>
    </div>
  </div>
</div>