.btn-chili {
    margin-top: 28px;
}

.selected-configs {
    margin-top: 28px;
}

.spec-options{
    margin-top:15px;
}

.spec-options .input-group {
    margin-bottom: 15px;
}

.spec-row {
    background-color: #fbfbfb !important;
}
.spec-row td{
    padding: 28px;
}
.selected-spec-row,.selected-spec-row:hover {
    background-color: #021f34;
    color: #f7f9fa;
}

.spacer-div {
    margin-top: 15px;
}
.sort-list {
    background-color: #ffffff;
    padding-inline-start: 0;
}
.sort-list li {
    padding: 10px;
    cursor: move;
    list-style: decimal inside none;
    border-bottom: 1px solid #d9d9da;
}
.sort-list li:hover {
    color: #1d2129;
    background-color: rgba(0, 0, 0, 0.075);
}
.sort-btn {
    padding: 0;
    margin-bottom: .2rem;
    padding-left: 10px;
}
.spec-edit-div {
    position: relative;
}

.loading-div {
    position: absolute;
    top: -28px;
    bottom:-28px;
    left:-28px;
    right: -28px;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 10;
}

.loading-div .spinner-border {
    margin: auto;
    height: 5rem;
    width: 5rem;
}