<ng-container>
    <div>
        <div class="row">
            <div class="col-md-5">
                <div *ngIf="showChiliDocuments">
                    <label>Select Chili Template</label>
                    <select class="form-control"
                            (change)="selectChiliTemplate($event)">
                        <option selected
                                disabled
                                [ngValue]="null">
                            Select
                        </option>
                        <option *ngFor="let document of tecraDocuments"
                                [value]="document.id">
                            {{document.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div *ngIf="showAvailableCategories">
                    <label>Catalog Assignment</label>
                    <select class="form-control"
                            (change)="setCatalogSelection($event)">
                        <option selected
                                disabled
                                [ngValue]="null">
                            Select
                        </option>
                        <option *ngFor="let cat of catalogAssignments"
                                [value]="cat.ID">
                            {{cat.Name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div *ngIf="showAssignmentButton">
                    <button class="btn btn-primary btn-chili"
                            type="submit"
                            (click)="executeChiliConfigAssignmentRequest()">
                        Save Chili Config
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="showChiliConfigs" class="selected-configs">
            <strong>Selected Chili Configurations</strong>
            <table class='table table-bordered table-condensed table-striped table-hover'>
                <tr class="table-row" *ngFor="let config of chiliConfigs">
                    <td>
                        <div class="row">
                            <div class="col-md-5">
                                <p>Template: {{config.ChiliTemplateName}}</p>
                            </div>
                            <div class="col-md-3">
                                <p>Catalog: {{config.CatalogID}}</p>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-danger"
                                            type="submit"
                                            (click)="deleteChiliConfig(config)">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</ng-container>
