  <div *ngIf="supplierPriceSchedule"
       class="container-fluid mb-5">
    <h4 class="mt-3">{{!readonly ? 'Price Breaks' : 'Supplier Pricing (In Supplier Currency)'}} </h4>
    <price-break-editor [readonly]="readonly"
                        [currency]="supplierCurrency"
                        [priceSchedule]="supplierPriceSchedule"
                        (priceScheduleUpdated)="updateSupplierPriceSchedule($event)">
    </price-break-editor>

    <div *ngIf="readonly"
         class="row pt-3 mt-3 bg-white shadow-sm card-highlight-border w-100 pl-3">
      <div class="w-100">
        <h4>Buyer Pricing</h4>
        <p class="font-italic">You may use default pricing based on the buyer markup percentage set on the buyer edit page or you can create a new price schedule in your currency.</p>

        <span>
          <div ngbDropdown
               *ngIf="buyers.length && selectedSuperMarketplaceBuyer"
               class="btn-block">
            <button class="resource-btn btn btn-outline-dark"
                    id="buyerSelectDropdown"
                    ngbDropdownToggle>{{selectedSuperMarketplaceBuyer?.Buyer?.Name}}</button>
            <div ngbDropdownMenu
                 aria-labelledby="buyer select dropdown">
              <button ngbDropdownItem
                      *ngFor="let buyer of buyers"
                      (click)="selectBuyer(buyer)">
                <summary-resource-display-component [resource]="buyer"
                                                    [resourceType]="'buyers'">
                </summary-resource-display-component>
              </button>
            </div>
          </div>
        </span>
        <div class="btn-group w-50 mt-3"
             role="group"
             aria-label="product pricing type selector">
          <button type="button"
                  class="btn btn-outline-primary btn-sm"
                  [ngClass]="{'active': !isUsingPriceOverride}"
                  (click)="setIsUsingPriceOverride(false)">Default Buyer Markup Percent Pricing</button>
          <button type="button"
                  class="btn btn-outline-primary btn-sm"
                  [ngClass]="{'active': isUsingPriceOverride}"
                  (click)="setIsUsingPriceOverride(true)">Pricing Override</button>
        </div>

        <ng-container *ngIf="!isUsingPriceOverride">
          <p class="font-italic mt-2">Prices will be shown to the buyer in the buyer user's currency after your markup percentage set for the buyer is applied.</p>
          <p class="font-italic">Prices shown below are after the buyer markup and are in your currency of {{sellerCurrency?.Currency}} which has an exchange rate of {{supplierToSellerCurrencyRate}} from the supplier's cost.</p>
          <p class="font-italic">Default markup for products for {{selectedSuperMarketplaceBuyer?.Buyer?.Name}} is {{selectedSuperMarketplaceBuyer?.Markup?.Percent || 0}} %</p>

          <price-break-editor [readonly]="true"
                              [currency]="sellerCurrency"
                              [priceSchedule]="buyerMarkedUpSupplierPrices">
          </price-break-editor>
        </ng-container>


        <ng-container *ngIf="isUsingPriceOverride">
          <price-break-editor [readonly]="false"
                              [currency]="sellerCurrency"
                              [priceSchedule]="overridePriceScheduleEditable"
                              (priceScheduleUpdated)="updateOverridePriceSchedule($event)">
          </price-break-editor>

        </ng-container>

        <action-menu-component [areChanges]="areChangesToBuyerVisibility"
                               [allowDiscard]="true"
                               [disableSave]="!areChanges"
                               (executeSaveAction)="handleSaveBuyerPricing()"
                               (executeDiscardAction)="handleDiscardBuyerPricingChanges()"></action-menu-component>
      </div>
    </div>
  </div>