<div class="text-center">
  <p *ngIf="showRegisterLink()"
     translate>AUTHENTICATION.LOGIN.NO_ACCOUNT<button type="button"
            class="btn btn-link"
            routerLink="/register"
            translate>AUTHENTICATION.LOGIN.SIGN_UP</button></p>
  <img class="logo"
       [src]="appConfig.theme.logoSrc" />
</div>
<div class="mx-auto mt-4"
     style="max-width:350px;">
  <h3 class="text-center headline-text"
      translate>AUTHENTICATION.LOGIN.ACCOUNT_LOGIN</h3>
  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        name="LoginForm"
        autocomplete="off"
        novalidate>
    <div class="form-group">
      <label for="username"
             translate>COMMON.USERNAME</label>
      <input formControlName="username"
             id="username"
             type="text"
             class="form-control"
             placeholder="Username"
             autocapitalize="off"
             autofocus />
    </div>
    <div class="form-group">
      <label for="password"
             translate>COMMON.PASSWORD</label>
      <input formControlName="password"
             type="password"
             class="form-control"
             placeholder="Password"
             id="password" />
    </div>
    <div class="form-group text-center">
      <div class="checkbox">
        <label for="rememberMeId">
          <input formControlName="rememberMe"
                 type="checkbox"
                 id="rememberMeId">
          <span translate>AUTHENTICATION.LOGIN.REMEMBER_ME</span>
        </label>
      </div>
    </div>
    <button id="submitBtn"
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-primary btn-lg btn-block"
            translate>COMMON.SUBMIT</button>
  </form>
  <button type="button"
          class="btn btn-link btn-block text-center"
          routerLink="/forgot-password"
          translate>AUTHENTICATION.LOGIN.RESET_PASS</button>
  <!-- <a class="btn btn-link btn-block text-center"
     [href]="ssoLink"
     translate>AUTHENTICATION.LOGIN.LOGIN</a> -->
</div>