@font-face {
	font-family: 'Sequel 100 Wide 45';
	src: url('/assets/basecamp/fonts/Sequel100Wide-45.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sequel Sans Book Obl Body';
	src: url('/assets/basecamp/fonts/SequelSans-BookOblBody.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sequel 100 Wide 46';
	src: url('/assets/basecamp/fonts/Sequel100Wide-46.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sequel Sans Book Body';
	src: url('/assets/basecamp/fonts/SequelSans-BookBody.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sequel 100 Black 105';
	src: url('/assets/basecamp/fonts/Sequel100Black-105.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}