<div *ngIf="liGroupedByShipFrom?.length > 0">
  <div class="card border shadow-sm mb-4"
       *ngFor="let liGroup of liGroupedByShipFrom; index as i">
    <div class="card-header p-3">
      <div class="row"
           *ngIf="suppliers?.length > 0 && suppliers[i].shipFrom && suppliers[i].supplier">
        <div class="col">
          <h5 class="card-title mb-0">
            {{suppliers[i].supplier.Name}}
          </h5>
        </div>
        <div class="d-flex flex-column justify-content-end pr-3">
          <small class="text-muted">{{suppliers[i].shipFrom.Street1}}
            {{suppliers[i].shipFrom.Street2}} | {{suppliers[i].shipFrom.City}},
            {{suppliers[i].shipFrom.State}},
            {{suppliers[i].shipFrom.Zip}}
          </small>
          <small class="text-muted"
                 *ngIf="suppliers[i].supplier?.xp?.Contacts">
            {{ suppliers[i].supplier.xp.Contacts[0].Phone | phoneFormat }} | {{ suppliers[i].supplier.xp.Contacts[0].Email }}
          </small>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
    <div class="px-3 pt-2 d-none d-sm-block border-bottom"
         *ngIf="!isQuoteOrder()">
      <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-5">
          <div class="row">
            <div class="col-4 text-center">
              <h6>Price</h6>
            </div>
            <div class="col-4 text-center">
              <h6>Qty</h6>
            </div>
            <div class="col-4 text-center">
              <h6>Total</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-none">
      <div *ngFor="let li of liGroup; let i = index">
        <div class="m-2 row align-items-center">
          <div class="col-sm-7"
               *ngIf="li">
            <div class="row align-items-sm-center">
              <div class="col-3 p-0">
                <img class="img-thumbnail"
                     [src]="getImageUrl(li.ID)">
              </div>
              <div class="col-9">
                <h6>
                  <a (click)="toProductDetails(li.Product.ID)"
                     class="text-primary link">{{li | productNameWithSpecs }}</a>
                  <small class="text-muted d-block">{{li.Product.ID}}</small>
                </h6>
                <a class="text-danger btn btn-link px-0 link"
                   *ngIf="!readOnly"
                   (click)="removeLineItem(li.ID)">Remove Item</a>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="row align-items-center pt-3 pt-sm-0"
                 *ngIf="!isQuoteOrder()">
              <div class="col-4 text-center">
                <span class="d-block d-sm-none">Unit Price</span>
                <span class="text-nowrap">{{li.UnitPrice | currency}}</span>
              </div>
              <div class="col-4 text-center">
                <span class="d-block d-sm-none">Qty</span>
                <ocm-quantity-input *ngIf="!readOnly"
                                    [existingQty]="li.Quantity"
                                    [product]="li.Product"
                                    (qtyChange)="changeQuantity(li.ID, $event.detail)"></ocm-quantity-input>
                <span class="text-nowrap"
                      *ngIf="readOnly">&times;{{ li.Quantity | number }}</span>
              </div>
              <div class="col-4 text-right">
                <span class="d-block d-sm-none">Total</span>
                <span class="text-nowrap">{{ li.LineTotal | currency }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- hr only visible on mobile to more clearly distinguish between line items -->
        <hr class="pb-4 d-block d-sm-none">
      </div>
    </div>
  </div>
</div>