<table class="table table-hover resource-table">
  <thead>
    <tr>
      <th *ngFor="let header of headers"
          scope="col">{{header}}</th>
    </tr>
  </thead>
  <tbody *ngIf="requestStatus === 'SUCCESSFUL_WITH_ITEMS' || requestStatus === 'REFRESHING_ITEMS' || requestStatus === 'FETCHING_SUBSEQUENT_PAGES'">
    <tr *ngFor="let row of rows; index as index"
        (click)="selectResource(row.resource)"
        class="selectable-row"
        [ngClass]="{'selected-resource':selectedIndex === index}"
        select="table-body-row">
      <td *ngFor="let cell of row.cells">
        <span *ngIf="cell.type === 'BASIC_STRING'">
          {{cell.value}}
        </span>
        <span *ngIf="cell.type === 'DATE_TIME'">
          {{cell.value | date: 'short'}}
        </span>
        <span *ngIf="cell.type === 'CURRENCY'">
          {{cell.value | currency: 'USD'}}
        </span>
        <div class="d-flex"
             *ngIf="cell.type === 'STRING_WITH_IMAGE'">
          <img alt="Avatar"
               class="avatar rounded-circle"
               src="{{row.imgPath}}"
               alt="">
          <span class="ml-3 d-flex flex-column justify-content-center">
            <div class="h6">{{cell.value}}</div>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>