<ocm-profile-nav>
  <div *ngIf="!isLoading">
    <h1 class="page-heading">Payment Methods</h1>
    <div class="row mt-3">
      <h2 class="col-6 h3 text-secondary">Credit Cards</h2>
      <div class="col-6 text-right">
        <button (click)="showAdd()"
                *ngIf="!showCardForm"
                class="btn btn-primary btn-sm">
          <fa-icon [icon]="faPlus"></fa-icon> Add
        </button>
      </div>
    </div>
    <hr>
    <ocm-modal [state]="areYouSureModal"
               [modalTitle]="'Delete this Card?'">
      <div>
        <button class="btn btn-sm btn-primary"
                (click)="deleteCard(currentCard)">Delete</button>
        <button class="btn btn-sm float-right"
                (click)="closeAreYouSure()">Cancel</button>
      </div>
    </ocm-modal>
    <div class="row">
      <div class="col-lg-6 d-lg-none d-block mb-3"
           *ngIf="showCardForm">
        <ocm-credit-card-form [submitText]="'Add Card'"
                              (formSubmitted)="addCard($event.detail)"
                              (formDismissed)="dismissEditAddressForm()">
        </ocm-credit-card-form>
      </div>
      <div [ngClass]="{'col-lg-12': !showCardForm, 'col-lg-6': showCardForm}">
          <div class="payment-card pb-3 mb-3"
               *ngFor="let card of cards?.Items">

            <ocm-credit-card-display [card]="card"
                                     [highlight]="currentCard === card"
                                     class="col-12 my-2">
              <!-- Delete Button -->
              <div class="icon-button ripple hover-btn"
                   (click)="showAreYouSure(card)">
                <div class="icon-wrapper">
                  <fa-icon class="text-danger"
                           [icon]="faTrashAlt">
                  </fa-icon>
                </div>
              </div>
            </ocm-credit-card-display>
          </div>
      </div>
      <!-- Display the Card Form on Desktop View (lg+) -->
      <div class="col-lg-6 d-none d-lg-block border-left"
           *ngIf="showCardForm">
        <ocm-credit-card-form [submitText]="'Add Card'"
                              (formSubmitted)="addCard($event.detail)"
                              (formDismissed)="dismissAddCardForm()">
        </ocm-credit-card-form>
      </div>
    </div>
    <div class="row mt-3">
      <h2 *ngIf="accounts?.Items.length"
          class="col-6 h3 text-secondary">Assigned Spending Accounts</h2>
      <div class="col-6">
        <!-- Insert buttons here -->
      </div>
      <div class="col-12 mt-3"
           *ngFor="let account of accounts?.Items">
        <div class="border border-radius shadow-sm p-4">
          <div><strong>{{ account.Name }}</strong></div>
          <div>Balance: <b class="text-success">{{ account.Balance | currency }}</b></div>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading">
      <ocm-loading-layout height="335px"
                          width="100%"
                          mb="1.5rem"
                          [resource]="addresses"
                          [rows]="3"
                          [columns]="3"
                          [isLoading]="isLoading"></ocm-loading-layout>

    </div>
  </div>
</ocm-profile-nav>