  <div class="d-flex">
    <div *ngIf="_shouldShowImage" class="p-2">
    <img alt="Avatar"
         class="avatar rounded-circle"
         src="{{_imgPath}}"
         alt="">
    </div>
    <div class="p-2">
    <span class="ml-3 d-flex flex-column justify-content-center">
      <div class="h6">{{_primaryHeader}}</div>
      <div>{{_secondaryHeader}}</div>
      <div>{{isNewPlaceHolder}}</div>
    </span>
    </div>
    <div *ngIf="_isExpandable" class="ml-auto p-2 align-self-center">
      <button ngbDropdownItem>
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </button>
  </div>