<table class="table table-sm">
  <thead>
    <tr>
      <th translate>PRODUCTS.GRID.QUANTITY</th>
      <th translate>PRODUCTS.GRID.OPTIONS</th>
      <th translate>PRODUCTS.GRID.UNIT_PRICE</th>
      <th translate>PRODUCTS.GRID.TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let spec of specOptions; let i = index">
      <td>
        <ocm-quantity-input [existingQty]="null"
                            [gridDisplay]="true"
                            [product]="_product"
                            [priceSchedule]="priceSchedule"
                            (qtyChange)="changeQuantity(specOptions[i], $event.detail)"></ocm-quantity-input>
      </td>
      <td><label for="{{ spec }}">{{spec}}</label></td>
      <td *ngFor="let priceBreak of priceSchedule.PriceBreaks">{{priceBreak.Price | currency}}</td>
      <td>{{lineTotals[i] | currency}}</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between align-items-center">
  <h4 class="font-weight-bold">{{ totalPrice  | currency: _product?.xp?.Currency}}</h4>
  <p class="text-muted ml-3 float-right">{{ _product | UofM }}</p>
</div>

<button class="btn btn-block btn-primary mb-3"
        type="submit"
        (click)="addToCart()"
        translate>
  PRODUCTS.DETAILS.ADD_TO_CART
</button>