<div *ngIf="orderSummaryMeta">
  <h4 *ngIf="orderSummaryMeta.POLineItemCount">
    {{ orderSummaryMeta.POLineItemCount }} Item(s) to Be Paid By Purchase Order at a total of
    <span>
      {{ orderSummaryMeta.POTotal | currency }}
    </span>
  </h4>
  <h4 *ngIf="!orderSummaryMeta.POLineItemCount">
    All Items to Be Paid By Credit Card
  </h4>
  <h4 *ngIf="orderSummaryMeta.POLineItemCount && orderSummaryMeta.StandardLineItemCount">
    {{ orderSummaryMeta.StandardLineItemCount }} Item(s) to Be Paid By Credit Card at a total of
    <span>
      {{ orderSummaryMeta.CreditCardTotal | currency }}
    </span>
  </h4>
  <ocm-payment-credit-card *ngIf="orderSummaryMeta.StandardLineItemCount"
                           [cards]="cards"
                           (cardSelected)="onCardSelected($event.detail)">
  </ocm-payment-credit-card>
  <button type="submit"
          (click)="onContinue()"
          *ngIf="!orderSummaryMeta.StandardLineItemCount"
          class="btn btn-primary btn-block-xs mt-4 mr-2">
    Continue
  </button>
</div>