<div class="row">
  <div class="col-lg-8">
    <form novalidate
          [formGroup]="form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text"
                   for="paymentMethodSelectId"
                   translate>CHECKOUT.CHECKOUT_PAYMENT.PAYMENT_METHOD:</label>
          </div>
          <select class="custom-select"
                  id="paymentMethodSelectId"
                  formControlName="selectedPaymentMethod">
            <option *ngFor="let method of availablePaymentMethods"
                    [ngValue]="method">
              {{ method | paymentMethodDisplay }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<ocm-payment-credit-card *ngIf="selectedPaymentMethod === 'CreditCard'"
                         [cards]="cards"
                         (cardSelected)="onCardSelected($event.detail)">
</ocm-payment-credit-card>