<div *ngIf="orderSummaryMeta">
  <div class="row mb-5">
    <div class="col-md-6">
      <p translate>CHECKOUT.CHECKOUT_PAYMENT.PROMOTIONS</p>
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="Promo Code"
               [value]="promoCode"
               (input)="updatePromoCodeValue($event)"
               id="PromoCode">
        <div class="input-group-append">
          <button translate
                  class="btn btn-secondary"
                  (click)="applyPromo()">CHECKOUT.CHECKOUT_PAYMENT.APPLY</button>
        </div>
      </div>
    </div>
    <div class="col-md-6"
         *ngIf="_orderPromos?.length">
      <p translate>CHECKOUT.CHECKOUT_PAYMENT.DISCOUNTS_APPLIED</p>
      <div *ngFor="let promo of _uniqueOrderPromos">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-start align-items-center">
            <fa-icon class="text-success mr-2"
                     [icon]="faCheckCircle"></fa-icon>
            <p class="mb-0">{{promo.Code}}</p>
          </div>
          <div class="d-flex justify-content-start align-items-center">
            <p class="mb-0 mr-5 text-danger">- {{getPromoDiscountTotal(promo.ID) | currency: _orderCurrency}}</p>
            <button translate
                    (click)="removePromo(promo.Code)"
                    class="btn btn-sm btn-link text-danger">CHECKOUT.CHECKOUT_PAYMENT.REMOVE</button>
          </div>
        </div>
        <small class="promo-description">{{promo.Description}}</small>
      </div>
    </div>
  </div>
  <hr />
  <h4 *ngIf="orderSummaryMeta.POLineItemCount">
    {{ orderSummaryMeta.POLineItemCount }} Item(s) to Be Paid By Purchase Order at a total of
    <span class="mt-2">
      {{ orderSummaryMeta.POTotal | currency: _orderCurrency }}
    </span>
  </h4>
  <div *ngIf="orderSummaryMeta.POLineItemCount"
       class="font-italic po-info mb-3">
    Please note - Key fob and/or wallet card orders will NOT be charged to your credit card. The cost of key fobs, wallet cards, sales tax, and shipping will be deducted via an ABC remit. The price reflected on this order is an estimate, and actual final cost may vary based on applicable sales tax rates. By placing an order with this item in your cart, you accept these terms.
  </div>
  <h4 *ngIf="!orderSummaryMeta.POLineItemCount">
    All Items to Be Paid By Credit Card
  </h4>
  <h4 *ngIf="orderSummaryMeta.POLineItemCount && orderSummaryMeta.StandardLineItemCount">
    {{ orderSummaryMeta.StandardLineItemCount }} Item(s) to Be Paid By Credit Card at a total of
    <span>
      {{ orderSummaryMeta.CreditCardTotal | currency: _orderCurrency }}
    </span>
  </h4>
  <ocm-payment-credit-card *ngIf="orderSummaryMeta.StandardLineItemCount"
                           [cards]="cards"
                           (cardSelected)="onCardSelected($event.detail)">
  </ocm-payment-credit-card>
  <button type="submit"
          (click)="onContinue()"
          *ngIf="!orderSummaryMeta.StandardLineItemCount"
          class="btn btn-primary btn-block-xs mt-4 mr-2">
    Continue
  </button>
</div>