  <ng-container *ngIf="!isLoading">
    <div class="form-group">
      <label for="selectBuyerLocation"
             translate>CHECKOUT.CHECKOUT_ADDRESS.BUYER_LOCATION</label>
      <select [ngModel]="selectedBuyerLocation?.ID"
              (ngModelChange)="onBuyerLocationChange($event)"
              class="custom-select"
              id="selectBuyerLocation">
        <option [ngValue]="null"
                default
                disabled
                translate>CHECKOUT.CHECKOUT_ADDRESS.SELECT_BUYER_LOCATION</option>
        <option *ngFor="let location of existingBuyerLocations?.Items"
                [ngValue]="location.ID">
          <span class="font-weight-bold">{{location.Street1}}<span *ngIf="location.Street2"> {{location.Street2}}</span>,
            {{location.City}} {{location.State}} {{location.Zip}}</span>
        </option>
      </select>
      <br />
    </div>
    <div class="form-group">
      <label for="selectAddress"
             translate>CHECKOUT.CHECKOUT_ADDRESS.SHIPPING_ADDRESS</label>
      <select [ngModel]="selectedShippingAddress?.ID"
              (ngModelChange)="onShippingAddressChange($event)"
              class="custom-select"
              id="selectAddress">
        <option [ngValue]="null"
                default
                disabled
                translate>CHECKOUT.CHECKOUT_ADDRESS.SELECT_ADDRESS</option>
        <option *ngFor="let address of existingShippingAddresses?.Items"
                [ngValue]="address.ID">
          <span class="font-weight-bold">{{address.Street1}}<span *ngIf="address.Street2"> {{address.Street2}}</span>,
            {{address.City}} {{address.State}} {{address.Zip}}
          </span>
        </option>
        <!-- <option [ngValue]="NEW_ADDRESS_CODE"
                translate>CHECKOUT.CHECKOUT_ADDRESS.NEW_ADDRESS</option> -->
      </select>
      <!-- <div class="d-flex justify-content-between align-items-center"> -->
      <button (click)="showNewAddressForm = true"
              class="btn btn-outline-primary btn-sm mr-2 mt-3"
              translate>Add New Address</button>
      <button type="submit"
              *ngIf="!showNewAddressForm"
              [disabled]="newShippingAddress == null"
              (click)="saveAddressesAndContinue()"
              class="btn btn-secondary btn-sm mr-2 mt-3"
              translate>CHECKOUT.CHECKOUT_ADDRESS.SAVE_CONTINUE</button>
      <!-- </div> -->
    </div>
    <ocm-address-form *ngIf="showNewAddressForm"
                      [suggestedAddresses]="suggestedAddresses"
                      [showOptionToSave]="true"
                      (formSubmitted)="saveAddressesAndContinue($event.detail.address)"
                      [homeCountry]="homeCountry"
                      [btnText]="'Save and Continue'">
    </ocm-address-form>
  </ng-container>