<div *ngIf="!isLoading">
  <div class="form-group">
    <div>
      <label for="selectBuyerLocation"
             translate>CHECKOUT.CHECKOUT_ADDRESS.BUYER_LOCATION</label>
      <select (change)="onBuyerLocationChange($event.target.value)"
              class="form-control"
              id="selectBuyerLocation">
        <option default
                disabled
                translate>CHECKOUT.CHECKOUT_ADDRESS.SELECT_BUYER_LOCATION</option>
        <option *ngFor="let location of existingBuyerLocations?.Items"
                [value]="location.ID"
                [selected]="existingBuyerLocations?.Items.length === 1">
          <span class="font-weight-bold">{{location.Street1}}<span *ngIf="location.Street2"> {{location.Street2}}</span>,
            {{location.City}} {{location.State}} {{location.Zip}}</span>
      </select>
      <br />
    </div>
    <label for="selectAddress"
           translate>CHECKOUT.CHECKOUT_ADDRESS.SHIPPING_ADDRESS</label>
    <select (change)="onShippingAddressChange($event.target.value)"
            class="form-control"
            id="selectAddress">
      <option default
              disabled
              translate>CHECKOUT.CHECKOUT_ADDRESS.SELECT_ADDRESS</option>
      <option *ngFor="let address of existingShippingAddresses?.Items"
              [selected]="(existingShippingAddresses?.Items.length === 1 && existingShippingAddresses?.Items[0].ID === address.ID) 
                         || address.ID === selectedShippingAddress?.ID"
              [value]="address.ID">
        <span class="font-weight-bold">{{address.Street1}}<span *ngIf="address.Street2"> {{address.Street2}}</span>,
          {{address.City}} {{address.State}} {{address.Zip}}</span>
      </option>
      <option [value]="NEW_ADDRESS_CODE"
              translate>CHECKOUT.CHECKOUT_ADDRESS.NEW_ADDRESS</option>
    </select>
    <button type="submit"
            *ngIf="!showNewAddressForm"
            (click)="saveAddressesAndContinue()"
            class="btn btn-primary btn-sm mr-2 mt-3"
            translate>CHECKOUT.CHECKOUT_ADDRESS.SAVE_CONTINUE</button>
  </div>
  <ocm-address-form *ngIf="showNewAddressForm"
                    [suggestedAddresses]="suggestedAddresses"
                    [showOptionToSave]="true"
                    (formSubmitted)="saveAddressesAndContinue($event.detail.address)"
                    [homeCountry]="homeCountry"
                    [btnText]="'Save and Continue'">
  </ocm-address-form>
</div>