<div class="card">
  <div class="card-header text-center">My Cart</div>
  <div class="list-group list-group-flush">
    <div class="list-group-item"
         *ngFor="let li of lineItems | slice:0:maxLines">
      <a class="link text-primary"
         (click)="toProductDetails(li.Product.ID)">{{ li | productNameWithSpecs }}</a>
      <div class="d-flex justify-content-between">
        <div><span class="text-muted">Qty:</span> {{ li.Quantity | number}}</div>
        <div><span class="text-muted">Unit Price:</span> {{ li.UnitPrice || 0 | currency}}</div>
      </div>
    </div>
    <h4 *ngIf="lineItems.length > maxLines"
        class="list-group-item text-center">
      <fa-icon [icon]="faEllipsisH"></fa-icon>
    </h4>
    <div class="list-group-item">
      <div class="d-flex justify-content-between">
        <div>Subtotal</div>
        <div>{{ order.Subtotal | currency}}</div>
      </div>
    </div>
  </div>
  <div class="card-body"
       *ngIf="lineItems.length === 0">No items in the cart</div>
  <div *ngIf="lineItems.length > 0"
       class="d-flex justify-content-between card-footer">
    <div>
      <button class="btn btn-sm btn-primary"
              (click)="toFullCart()">Edit Cart</button>
    </div>
    <div>
      <button class="btn btn-sm btn-primary"
              (click)="toCheckout()">Checkout</button>
    </div>
  </div>
</div>