<button type="button"
        class="btn  btn-secondary"
        (click)="orderReorder()">Reorder</button>
<shared-modal id="Order-Reorder"
              modalTitle="Order Reorder">
  <div *ngIf="reorderResponse">
    <div class="alert"
         [ngClass]="{'alert-danger': message.classType == 'danger',
                  'alert-warning': message.classType == 'warning',
                  'alert-success': message.classType == 'success'}">
      <p [innerHTML]='message.string'> </p>
    </div>
    <ocm-lineitem-table *ngIf="reorderResponse.InvalidLi.length"
                        [lineitems]="reorderResponse.InvalidLi"
                        [context]="context"
                        [readOnly]="true">
    </ocm-lineitem-table>
    <button type="button"
            class="btn btn-primary btn-lg btn-block"
            [disabled]="!reorderResponse.ValidLi.length || !orderID"
            (click)="addToCart()">Add to Cart</button>
  </div>
</shared-modal>