<button class="btn btn-secondary mb-3"
        (click)="openAddressModal()"
        *ngIf="!isAnon && existingAddresses && existingAddresses.Items.length > 0">Select a saved address</button>
<button *ngIf="addressType === 'Billing'"
        class="btn btn-secondary mb-3 ml-2"
        (click)="useShippingAsBilling()">Use Shipping Address</button>
<ocm-address-form [existingAddress]="selectedAddress"
                  (formSubmitted)="saveAddress($event.detail.address, $event.detail.formDirty)"
                  [btnText]="'Save and Continue'">
</ocm-address-form>
<ocm-modal [state]="addressModal"
           (closeEvent)="requestOptions = {}"
           modalTitle="Select Address">
  <ocm-generic-list [meta]="existingAddresses?.Meta"
                    [searchPlaceholder]="'addresses'"
                    (requestOptionsUpdated)="updateRequestOptions($event)">
    <div class="col-sm-12 col-lg-12 col-md-12 d-flex"
         *ngFor="let address of existingAddresses?.Items">
      <ocm-address-card [address]="address">
        <a href="javascript:void(0)"
           (click)="existingAddressSelected(address)">Select</a>
      </ocm-address-card>
    </div>
  </ocm-generic-list>
</ocm-modal>