<button class="btn btn-secondary mb-3"
        (click)="openAddressModal()"
        *ngIf="!isAnon && existingAddresses && existingAddresses.Items.length > 0">Select a saved address</button>
<button *ngIf="addressType === 'Billing'"
        class="btn btn-secondary mb-3 ml-2"
        (click)="useShippingAsBilling()">Use Shipping Address</button>
<shared-address-form [existingAddress]="selectedAddress"
                     (formSubmitted)="saveAddress($event.address, $event.formDirty)"
                     btnText="Save and Continue"></shared-address-form>
<ocm-modal [state]="addressModal"
           (closeEvent)="clearReqeustOptions"
           modalTitle="Select Address">
  <shared-generic-browse [items]="existingAddresses?.Items"
                         [meta]="existingAddresses?.Meta"
                         searchPlaceholder="addresses"
                         (requestOptionsUpdated)="updateRequestOptions($event)">
    <ng-template let-address="item">
      <ocm-address-card [address]="address">
        <a href="javascript:void(0)"
           (click)="existingAddressSelected(address)">Select</a>
      </ocm-address-card>
    </ng-template>
  </shared-generic-browse>
</ocm-modal>