<resource-breadcrumbs-component></resource-breadcrumbs-component>
<div class="container-fluid">
  <div class="py-3">
    <h1 class="resource-name mb-0">Pages</h1>
  </div>
  <cms-page-list class="full-height"
                 *ngIf="parentResourceID"
                 resourceType="ApiClients"
                 [resourceID]="parentResourceID"
                 renderSiteUrl="https://marketplace-buyer-ui-test.azurewebsites.net/">
    <resource-select-dropdown-component class="cms-toolbar-additions"
                                        [parentService]="storefrontsService"
                                        [ocService]="ocService">
    </resource-select-dropdown-component>
  </cms-page-list>
</div>