<resource-table-component [resourceList]="resourceList"
                          [resourceOptions]="resourceOptions"
                          [selectedResourceID]="selectedResourceID"
                          [updatedResource]="updatedResource"
                          [resourceInSelection]="resourceInSelection"
                          [ocService]="ocService"
                          [resourceForm]="resourceForm"
                          (searched)="searchResources($event)"
                          (hitScrollEnd)="handleScrollEnd()"
                          (changesSaved)="saveUpdates()"
                          (changesDiscarded)="discardChanges()"
                          (resourceDelete)="deleteResource()"
                          (resourceSelected)="selectResource($event)">
  <app-product-edit class="resource-edit"
                    *ngIf="resourceForm"
                    [resourceForm]="resourceForm"
                    (updateResource)="updateResource($event)"></app-product-edit>
</resource-table-component>