<resource-table-component [resourceList]="resourceList"
                          [searchText]="searchText"
                          [selectedResourceID]="selectedResourceID"
                          [updatedResource]="updatedResource"
                          [resourceInSelection]="resourceInSelection"
                          (searched)="searchResources(searchText)"
                          (hitScrollEnd)="handleScrollEnd()"
                          (changesSaved)="saveUpdates()">
  <thead>
    <tr>
      <th scope="
        col">Name</th>
      <th scope="col">ID</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tr>
    <td>{{product?.Name}}</td>
    <td>{{product?.ID}}</td>
    <td>{{product?.Active ? 'Active' : 'Inactive'}}</td>
  </tr>
  <div class="resource-edit">
    <label for="Name">Name</label>
    <div class="form-group">
      <input type="text"
             class="form-control"
             id="name"
             aria-describedby="name"
             value="{{updatedResource.Name}}"
             (input)="updateResource('Name', $event)"
             placeholder="Enter resource name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text"
             class="form-control"
             id="description"
             value="{{updatedResource.Description}}"
             (input)="updateResource('Description', $event)"
             placeholder="Description">
    </div>
  </div>
</resource-table-component>