<!-- 98pc calced height is placeholder for now: will need to change to make responsive or if the layout srtructure is changed -->

<div class="form-group resource-search">
  <search-component class="mr-3 w-100"
                    [placeholderText]="'Search Products...'"
                    [searchTermInput]="searchText"
                    (searched)="searchResources($event)">
  </search-component>
</div>

<!-- full table view -->
<div *ngIf="!selectedResourceID">
  <perfect-scrollbar style="width: 100%; height: calc(100vh - 98px);"
                     (psYReachEnd)="handleScrollEnd()">
    <table class="table table-hover resource-table">
      <thead>
        <tr>
          <th scope="
        col">Name</th>
          <th scope="col">ID</th>
          <th scope="col">Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of resourceList.Items; index as index"
            (click)="selectResource(product)"
            class="selectable-row"
            [ngClass]="{'selected-resource':selectedIndex === index}">
          <td>{{product.Name}}</td>
          <td>{{product.ID}}</td>
          <td>{{product.Active ? 'Active' : 'Inactive'}}</td>
        </tr>
        <tr>
          <td *ngIf="resourceList?.Meta?.Page < resourceList?.Meta?.TotalPages">More products</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </perfect-scrollbar>
</div>

<!-- editing/creating view -->
<div *ngIf="selectedResourceID"
     class="row">
  <div class="col-3">
    <perfect-scrollbar style="width: 100%; height: calc(100vh - 98px);"
                       (psYReachEnd)="handleScrollEnd()">
      <table class="table table-hover resource-table">
        <thead>
          <tr>
            <th scope="
          col">Name</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of resourceList.Items"
              (click)="selectResource(product)"
              class="selectable-row"
              [ngClass]="{'selected-resource':selectedResourceID === product.ID}">
            <td>{{product.Name}}</td>

          </tr>
          <tr>
            <td *ngIf="resourceList?.Meta?.Page < resourceList?.Meta?.TotalPages">More products</td>

          </tr>
        </tbody>
      </table>
    </perfect-scrollbar>
  </div>
  <div class="col-9">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             aria-describedby="name"
             value="{{updatedResource.Name}}"
             (input)="updateResource('Name', $event)"
             placeholder="Enter resource name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text"
             class="form-control"
             id="description"
             value="{{updatedResource.Description}}"
             (input)="updateResource('Description', $event)"
             placeholder="Description">
    </div>
    <button (click)="saveUpdates()"
            *ngIf="JSON.stringify(updatedResource) !== JSON.stringify(resourceInSelection)">Save Changes</button>
  </div>
</div>