<div class="row align-items-center">
  <div class="col-12">
    <label class="small text-muted"
           for="accepted-cards">Accepting All Major Credit Cards</label>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit()"
          novalidate
          [formGroup]="cardForm"
          name="CardForm"
          class="add-card-form">

      <div class="form-group d-flex justify-content-between mb-0">
        <div class="form-group card-number mr-2 flex-fill">
          <label class="sr-only"
                 for="cardNumber">Card Number</label>
          <input type="text"
                 formControlName="CardNumber"
                 class="form-control"
                 id="cardNumber"
                 placeholder="Card Number"
                 autofocus="true"
                 showErrors
                 appCreditCardInput
                 autocomplete="off" />
        </div>
        <div class="form-group mr-2 flex-fill">
          <label class="sr-only"
                 for="month">Expiration Month</label>
          <select formControlName="expMonth"
                  class="custom-select"
                  id="state">
            <option *ngFor="let month of monthOptions"
                    [value]="month">{{ month }}</option>
          </select>
        </div>
        <div class="form-group flex-fill">
          <label class="sr-only"
                 for="year">Expiration Year</label>
          <select formControlName="expYear"
                  class="custom-select"
                  id="state">
            <option *ngFor="let year of yearOptions"
                    [value]="year.slice(-2)">{{ year }}</option>
          </select>
        </div>
      </div>
      <div class="form-group d-flex justify-content-between mb-0">
        <div class="form-group card-name mr-2 flex-fill">
          <label class="sr-only"
                 for="name">Name on Card</label>
          <input type="text"
                 formControlName="CardholderName"
                 class="form-control"
                 id="name"
                 showErrors
                 placeholder="Name on Card"
                 autocomplete="off" />
        </div>
        <div class="form-group flex-fill">
          <label class="sr-only"
                for="cvv">CVV</label>
          <input type="text"
                formControlName="SecurityCode"
                class="form-control"
                id="cvv"
                placeholder="CVV"
                showErrors
                maxlength="4"
                appCreditCardCVV
                autocomplete="off" />
        </div>
      </div>
      <button type="submit"
              class="btn btn-primary btn-block-xs"
              [disabled]="!cardForm.valid">{{ submitText }} Card</button>
      <button (click)="dismissForm()"
              class="btn btn-link text-danger"
              type="button">Cancel</button>
    </form>
  </div>
</div>