@import '../../../../../styles/main.scss';
.buyer-user-permissions-alert {
    border-radius: $border-radius;
    border-left: 5px solid $primary;
    .alert-icon {
        color: $navy-100;
        font-size: 1.4rem;
    }
}