<div class="py-4 mt-2 bg-light text-center">
  <div class="col-sm-12 d-flex justify-content-around">
    <a (click)="toTermsAndConditions()"
       class="mr-1 text-muted link cursor-pointer">
      <fa-icon class="mr-1 d-md-none"
               [icon]="faFileAlt"></fa-icon>
      <small translate>LAYOUT.APP_FOOTER.TERMS_CONDITIONS</small>
    </a>
    <a class="text-muted link cursor-pointer"
       (click)="toSupport()">
      <fa-icon class="mr-1"
               [icon]="faPhone"></fa-icon>
      <small translate>LAYOUT.APP_FOOTER.SUPPORT</small>
    </a>
    <a class="text-muted link cursor-pointer"
       (click)="toFAQ()">
      <fa-icon class="mr-1 text-muted"
               [icon]="faQuestionCircle"></fa-icon>
      <small translate>LAYOUT.APP_FOOTER.FAQ</small>
    </a>
  </div>
  <div class="p-0 mt-0 text-center text-muted col-sm-12">
    <small translate>LAYOUT.APP_FOOTER.CREATED_BY</small>
  </div>
</div>