<resource-table-component [resourceList]="resourceList"
                          [selectedResourceID]="selectedResourceID"
                          [updatedResource]="updatedResource"
                          [resourceInSelection]="resourceInSelection"
                          [ocService]="ocService"
                          [resourceForm]="resourceForm"
                          [shouldShowCreateNew]="false"
                          (searched)="searchResources($event)"
                          (hitScrollEnd)="handleScrollEnd()"
                          (changesSaved)="saveUpdates()"
                          (changesDiscarded)="discardChanges()"
                          (resourceDelete)="deleteResource()"
                          (resourceSelected)="selectResource($event)">
  <!-- edit user -->
  <div class="resource-edit">
    resource edit component will go here
  </div>
</resource-table-component>