<ocm-profile-nav [context]="context">
  <form (ngSubmit)="updatePassword()"
        novalidate
        [formGroup]="form"
        name="form">
    <div>
      <div class="form-group">
        <label for="currentPassword"
               class="sr-only">Current Password</label>
        <input formControlName="currentPassword"
               id="currentPassword"
               class="form-control"
               type="password"
               placeholder="Current Password"
               autocomplete="off"
               showErrors />
      </div>
      <div class="form-group">
        <label for="newPassword"
               class="sr-only">New Password</label>
        <input formControlName="newPassword"
               id="newPassword"
               class="form-control"
               type="password"
               placeholder="New Password"
               autocomplete="off"
               showErrors />
      </div>
      <div class="form-group">
        <label for="confirmNewPassword"
               class="sr-only">Confirm New Password</label>
        <input formControlName="confirmNewPassword"
               id="confirmNewPassword"
               class="form-control"
               type="password"
               placeholder="Confirm New Password"
               autocomplete="off"
               showErrors />
      </div>
    </div>
    <button type="submit"
            [disabled]="!form.valid"
            class="btn btn-primary btn-block">Save</button>
  </form>
</ocm-profile-nav>