ul {
    list-style: none;
    left: 100%;
    padding: 0;
    margin: 0;
    background: darkgray;
  }
  
  ul li {
    position: relative;
    background: darkgray;
  }

  li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fFf;
}

ul ul { top: 0; }

ul li a:hover { background: gray}

li:hover > ul {
    top: 0;
    display: block;
    position: absolute;
  }
  
  li:hover li { float: none; }
  
  li:hover a {
    display: block;
    top: 0;
    background: darkgray }
  
  li:hover li a:hover { background: gray }
  
  .main-navigation li ul li { border-top: 0; }

  ul ul ul {
    top: 0;
  }

  ul:before,
ul:after {
  content: " ";
  display: table;
}

ul:after { clear: both; }
