<div class="container-fluid">
  <!-- Product Variations -->
  <!-- Spec Configuration -->
  <div class="row pt-3"
       id="product-options">
    <div class="col-md-5">
      <h5 translate>ADMIN.PRODUCT_EDIT.PRODUCT_VARIATIONS</h5>
      <p class="font-italic mb-0"
         translate>{{readonly ? 'ADMIN.PRODUCT_EDIT.PRODUCT_VARIETIES_DEFINED' : 'ADMIN.PRODUCT_EDIT.DOES_YOUR_PRODUCT'}}</p>
      <p class="mb-0"
         *ngIf="variants"><span translate>ADMIN.PRODUCT_EDIT.THIS_PRODUCT_HAS </span>
        <span [ngClass]="{'text-danger': !variantsValid}"
              class="font-weight-bold">{{variants?.length}}</span>
        <span translate> ADMIN.PRODUCT_EDIT.VARIANTS_LIMIT_100</span></p>
      <p *ngIf="!variantsValid"
         class="text-danger">
        <fa-icon [icon]="faExclamationCircle"></fa-icon> <span translate>ADMIN.PRODUCT_EDIT.THIS_PRODUCT_EXCEEDS</span>
      </p>
    </div>
    <div class="col-md-7">
      <button *ngIf="!editSpecs && !readonly && !superProductEditable?.Specs?.length"
              [disabled]="!canConfigureVariations"
              class="btn btn-outline-dark"
              (click)="toggleEditSpecs()"
              translate>
        ADMIN.PRODUCT_EDIT.CONFIGURE_VARIATIONS
      </button>
      <button *ngIf="!readonly && (!editSpecs && superProductEditable?.Specs?.length)"
              class="btn btn-outline-dark"
              (click)="toggleEditSpecs()">
        <fa-icon [icon]="faCog"></fa-icon> <span translate> ADMIN.PRODUCT_EDIT.EDIT_VARIATIONS</span>
      </button>
      <div class="form-group"
           *ngIf="editSpecs">
        <label for="AddVariation"
               translate>ADMIN.PRODUCT_EDIT.ADD_VARIATION</label>
        <input type="text"
               class="form-control add-variation"
               id="AddVariation"
               placeholder="{{'ADMIN.PRODUCT_EDIT.NAME_THE_VARIATION' | translate}}">
        <label class="check-container"
               translate>ADMIN.PRODUCT_EDIT.SKUS_VARY
          <input type="checkbox"
                 [checked]="shouldDefinesVariantBeChecked()"
                 (change)="definesVariant = !definesVariant"
                 [disabled]="!variantsValid || variants.length === 100"
                 id="DefinesVariant">
          <span class="checkmark"></span>
        </label>
        <button class="btn btn-outline-dark"
                (click)="addSpec()"
                translate>ADMIN.PRODUCT_EDIT.ADD</button>
      </div>
    </div>
  </div>
  <div class="row pt-3 position-relative product-variations"
       [ngClass]="{'hidden': !editSpecs}">
    <div class="col-md-12"
         *ngIf="superProductEditable?.Specs">
      <div class="card-deck">
        <div class="product-spec card p-2"
             *ngFor="let spec of superProductEditable?.Specs; let specIndex = index;">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="ml-2 mb-0">{{spec.Name}}</h5>
            <button class="btn btn-link text-danger"
                    (click)="removeSpec(spec)"
                    translate>ADMIN.PRODUCT_EDIT.DELETE_VARIATION</button>
          </div>
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th translate>ADMIN.PRODUCT_EDIT.OPTION</th>
                <th translate>ADMIN.PRODUCT_EDIT.PRICE_MARKUP</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input class="form-control"
                         id="{{spec.ID}}"
                         type="text"
                         maxlength="30"
                         placeholder="{{'ADMIN.PRODUCT_EDIT.NAME' | translate}}">
                </td>
                <td>
                  <input class="form-control"
                         id="{{spec.ID}}Markup"
                         type="number"
                         placeholder="{{'ADMIN.PRODUCT_EDIT.MARKUP' | translate}}">
                </td>
                <td>
                  <button class="btn btn-outline-dark"
                          [disabled]="shouldDisableAddSpecOptBtn(spec)"
                          (click)="addSpecOption(spec, specIndex)"
                          translate>ADMIN.PRODUCT_EDIT.ADD</button>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th translate>ADMIN.PRODUCT_EDIT.OPTION</th>
                <th translate>ADMIN.PRODUCT_EDIT.DEFAULT</th>
                <th translate>ADMIN.PRODUCT_EDIT.PRICE_MARKUP</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let opt of spec.Options; let optionIndex = index">
                <td>{{opt.Value}}</td>
                <td>
                  <label class="check-container mt-0">
                    <input type="checkbox"
                           [checked]="isDefaultSpecOption(spec.ID, opt.ID, specIndex)"
                           (change)="isCreatingNew ? stageDefaultSpecOption(spec.ID, opt.ID, specIndex) : setDefaultSpecOption(spec.ID, opt.ID, specIndex)"
                           [disabled]="disableSpecOption(specIndex, opt)"
                           id="DefaultSpecOption">
                    <span class="checkmark"
                          [matTooltip]="disableSpecOption(specIndex, opt) ? 'Product must be saved before setting this new option as default' : ''">
                    </span>
                  </label>
                </td>
                <td>{{getPriceMarkup(opt) | currency: myCurrency?.Currency}}</td>
                <td>
                  <div class="icon-button ripple hover-btn"
                       (click)="removeSpecOption(specIndex, optionIndex)">
                    <div class="icon-wrapper">
                      <fa-icon class="text-danger"
                               [icon]="faTrash">
                      </fa-icon>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-end align-items-center mt-3">
        <button *ngIf="editSpecs && areSpecChanges"
                (click)="handleDiscardSpecChanges()"
                class="btn btn-link text-dark"
                translate>ADMIN.PRODUCT_EDIT.CANCEL</button>
        <button *ngIf="editSpecs && areSpecChanges"
                class="btn btn-outline-dark"
                [disabled]="!variantsValid"
                (click)="toggleEditSpecs()"
                translate>ADMIN.PRODUCT_EDIT.SAVE_CHANGES</button>
        <button *ngIf="editSpecs && !areSpecChanges"
                class="btn btn-outline-dark"
                [disabled]="!variantsValid"
                (click)="toggleEditSpecs()"
                translate>ADMIN.PRODUCT_EDIT.DONE</button>
      </div>
    </div>
  </div>
  <!-- /Spec Configuration -->
  <!-- Variant Matrix -->
  <div class="row pt-3 position-relative product-variations">
    <div class="variant-overlay"
         *ngIf="editSpecs">
      <span *ngIf="specsWithoutVariations?.length || specsWithVariations?.length"
            translate>ADMIN.PRODUCT_EDIT.PENDING_VARIATION_CHANGES</span>
    </div>
    <div class="variant-overlay"
         *ngIf="assignVariantImages">
      <div class="row">
        <div class="col-md-12">
          <img *ngFor="let img of superProductEditable?.Images"
               class="product-image"
               [class.selected-image]="isImageSelected(img)"
               [src]="img.Url"
               (click)="toggleAssignImage(img, variantInSelection.xp?.SpecCombo)"
               alt="" />
          <div>
            <button class="btn btn-outline-dark"
                    (click)="updateProductImageTags()"
                    translate>ADMIN.PRODUCT_EDIT.DONE</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div *ngIf="variants?.length > 0">
        <h6 translate>ADMIN.PRODUCT_EDIT.THE_FOLLOWING_VARIATIONS_HAVE</h6>
        <perfect-scrollbar class="product-table"
                           style="width: 100%; max-height: 600px;">
          <table class="table mb-0">
            <thead class="bg-light">
              <tr>
                <th scope="col"
                    translate>ADMIN.PRODUCT_EDIT.DETAILS</th>
                <th *ngFor="let spec of specsWithVariations; let i = index"
                    scope="col">{{variants[0]?.xp?.SpecValues[i]?.SpecName}}</th>
                <th scope="col"
                    translate>ADMIN.PRODUCT_EDIT.ACTIVE</th>
                <th scope="col"
                    translate>ADMIN.PRODUCT_EDIT.SKU</th>
                <th *ngIf="superProductEditable?.Product?.Inventory?.VariantLevelTracking"
                    scope="col"
                    translate>ADMIN.PRODUCT_EDIT.INVENTORY</th>
                <th scope="col"
                    translate>ADMIN.PRODUCT_EDIT.TOTAL_MARKUP</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let variant of variants; let i = index">
                <tr [ngClass]="{'selected-variant': variant === variantInSelection}">
                  <td class="d-flex">
                    <div class="icon-button ripple"
                         (click)="variantInSelection?.ID === variant?.ID ? closeVariantDetails() : openVariantDetails(variant)">
                      <div class="icon-wrapper">
                        <fa-icon [icon]="variantInSelection?.ID === variant?.ID ? faCaretDown : faCaretRight">
                        </fa-icon>
                      </div>
                    </div>
                  </td>
                  <td *ngFor="let specValue of variant.xp?.SpecValues">
                    {{specValue.SpecOptionValue}} <span class="font-weight-bold"
                          *ngIf="specValue.PriceMarkup">(+{{specValue.PriceMarkup | currency: myCurrency?.Currency}})</span>
                  </td>
                  <td>
                    <div *ngIf="readonly"
                         class="chip supplier-facet-chip readonly active">{{getVariantStatusDisplay(variant)}}
                      <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div *ngIf="!readonly"
                         class="
                       chip
                       editable
                       supplier-facet-chip"
                         (click)="toggleActive(variant)"
                         [ngClass]="{'active': variant.Active}">{{getVariantStatusDisplay(variant)}}
                      <fa-icon *ngIf="variant.Active"
                               [icon]="faCheckCircle"></fa-icon>
                    </div>
                  </td>
                  <td>
                    <div class="input-group-sm">
                      <input class="form-control input-sm"
                             type="text"
                             [disabled]="readonly || variant === variantInSelection"
                             (change)="updateSku($event, i)"
                             [value]="variant?.xp?.NewID || variant?.ID">
                    </div>
                  </td>
                  <td *ngIf="superProductEditable?.Product?.Inventory?.VariantLevelTracking">
                    <div class="input-group-sm">
                      <input class="form-control input-sm"
                             type="number"
                             min="0"
                             [disabled]="readonly || variant === variantInSelection"
                             (change)="updateVariantInventory($event, i)"
                             [value]="variant?.Inventory?.QuantityAvailable">
                    </div>
                  </td>
                  <td>{{getTotalMarkup(variant.xp?.SpecValues) | currency: myCurrency?.Currency}}</td>
                </tr>
                <tr *ngIf="!isCreatingNew && variantInSelection?.ID === variant.ID">
                  <td [attr.colspan]="getVariantDetailColSpan()">
                    <fa-icon *ngIf="superProductEditable?.Images?.length && !readonly"
                             (click)="assignVariantImages = true"
                             [icon]="faPlusCircle"
                             class="mr-2"
                             size="lg">
                    </fa-icon>
                    <img *ngFor="let img of getVariantImages(variantInSelection)"
                         style="max-width: 50px"
                         [src]="img.Url"
                         alt="" />
                    <div class="form-row">
                      <div class="form-group col-3">
                        <label for="shipWidth"
                               translate>ADMIN.PRODUCT_EDIT.SHIP_WIDTH</label>
                        <input class="form-control input-sm"
                               id="shipWidth"
                               [disabled]="readonly"
                               [value]="variantInSelection?.ShipWidth"
                               (focusout)="variantShippingDimensionUpdate($event, 'ShipWidth')"
                               placeholder="{{'ADMIN.PRODUCT_EDIT.WIDTH' | translate}}">
                      </div>
                      <div class="form-group col-3">
                        <label for="shipHeight"
                               translate>ADMIN.PRODUCT_EDIT.SHIP_HEIGHT</label>
                        <input class="form-control input-sm"
                               id="shipHeight"
                               [disabled]="readonly"
                               [value]="variantInSelection?.ShipHeight"
                               (focusout)="variantShippingDimensionUpdate($event, 'ShipHeight')"
                               placeholder="{{'ADMIN.PRODUCT_EDIT.HEIGHT' | translate}}">
                      </div>
                      <div class="form-group col-3">
                        <label for="shipLength"
                               translate>ADMIN.PRODUCT_EDIT.SHIP_LENGTH</label>
                        <input class="form-control input-sm"
                               id="shipLength"
                               [disabled]="readonly"
                               [value]="variantInSelection?.ShipLength"
                               (focusout)="variantShippingDimensionUpdate($event, 'ShipLength')"
                               placeholder="{{'ADMIN.PRODUCT_EDIT.LENGTH' | translate}}">
                      </div>
                      <div class="form-group col-3">
                        <label for="shipWeight"
                               translate>ADMIN.PRODUCT_EDIT.SHIP_WEIGHT</label>
                        <input class="form-control input-sm"
                               id="shipWeight"
                               [disabled]="readonly"
                               [value]="variantInSelection?.ShipWeight"
                               (focusout)="variantShippingDimensionUpdate($event, 'ShipWeight')"
                               placeholder="{{'ADMIN.PRODUCT_EDIT.WEIGHT' | translate}}">
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </perfect-scrollbar>
      </div>
      <div class="mt-2"
           *ngIf="specsWithoutVariations?.length">
        <h6 translate>ADMIN.PRODUCT_EDIT.THE_FOLLOWING_VARIATIONS_DONT</h6>
        <perfect-scrollbar class="product-table"
                           style="width: 100%; max-height: 600px;">
          <table class="table mb-0">
            <thead class="bg-light">
              <tr>
                <th translate>ADMIN.PRODUCT_EDIT.VARIATION</th>
                <th translate>ADMIN.PRODUCT_EDIT.OPTION</th>
                <th translate>ADMIN.PRODUCT_EDIT.PRICE_MARKUP</th>
              </tr>
            </thead>
            <tbody *ngFor="let spec of specsWithoutVariations">
              <tr *ngFor="let option of spec.Options">
                <td>{{spec.Name}}</td>
                <td>{{option.Value}}</td>
                <td>{{option.PriceMarkup || 0 | currency: myCurrency?.Currency}}</td>
              </tr>
            </tbody>
          </table>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
  <!-- /Variant Matrix -->
  <!-- /Product Variations -->
</div>