<div class="container">
  <div class="row">
    <div class="col-3">
      <div>
        <mat-form-field>
            <mat-label>High Level Category</mat-label>
            <mat-select (selectionChange)="selectHighLevelCategory($event)">
              <mat-option *ngFor="let category of highLevelOptions" [value]="category.ID">
                {{category.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      
        <ng-container *ngIf="midLevelOptions.length && !showMidLevel && highLevelSelection">
          <p class="font-italic">
            You may assign the product at this level or get more specific with subcategories
          </p>
          <button 
          class="btn btn-primary"
          type="submit"
          (click)="showMidLevel = true">Browse Subcategories</button>
        </ng-container>
      
        <div>
          <mat-form-field *ngIf="showMidLevel">
              <mat-label>Mid Level Category</mat-label>
              <mat-select (selectionChange)="selectMidLevelCategory($event)">
                <mat-option *ngFor="let category of midLevelOptions" [value]="category.ID">
                  {{category.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        
        <ng-container *ngIf="lowLevelOptions.length && !showLowLevel && midLevelSelection">
          <p class="font-italic">
            You may assign the product at this level or get more specific with subcategories
          </p>
          <button 
          class="btn btn-primary"
          type="submit"
          (click)="showLowLevel = true">Browse Subcategories</button>
        </ng-container>
      
        <div>
          <mat-form-field *ngIf="showLowLevel">
            <mat-label>Low Level Category</mat-label>
            <mat-select (selectionChange)="selectLowLevelCategory($event)">
              <mat-option *ngFor="let category of lowLevelOptions" [value]="category.ID">
                {{category.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>   
        <button
        *ngIf="highLevelSelection" 
        class="btn btn-primary"
        type="submit"
        (click)="addAssignment()">Add Assignment</button>
      </div>
    <div class="col-9 assignments-container">
      <mat-chip-list>
        <mat-chip *ngFor="let category of _assignedCategoriesEditable; index as i"
        [removable]="true" (removed)="removeAssignment(i)">
        <span>{{category[0].Name}}</span>
        <span *ngIf="category.length > 1" class="material-icons">
          keyboard_arrow_right
          </span>          
        <span *ngIf="category.length > 1">
          {{category[1].Name}}
        </span>
        <span *ngIf="category.length > 2" class="material-icons">
          keyboard_arrow_right
        </span>          
        <span *ngIf="category.length > 2">
          {{category[2].Name}}</span>
        <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>