<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <form [formGroup]="resourceForm">
        <div class="card py-2 px-3 mt-3 bg-white">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="font-weight-medium">Discount Code</h6>
            <h6 class="btn-link cursor-pointer"
                (click)="generateRandomCode()">Generate random code</h6>
          </div>
          <input type="text"
                 class="form-control"
                 formControlName="Code"
                 [value]="_promotionEditable?.Code"
                 (input)="handleUpdatePromo($event, 'Code')"
                 placeholder="e.g. SPRINGSALE20">
          <small>Buyer users will use this code at checkout.</small>
        </div>
        <div class="card py-2 px-3 mt-3 bg-white">
          <h6 class="font-weight-medium">Fine Print</h6>
          <textarea type="text"
                    class="form-control"
                    formControlName="FinePrint"
                    [value]="_promotionEditable?.FinePrint"
                    (input)="handleUpdatePromo($event, 'FinePrint')"
                    placeholder="e.g. Cannot be combined with other offers"
                    rows="3"
                    maxLength="100"></textarea>
          <small>This field may be used for display purposes on the storefront, limit 100 chars.</small>
        </div>
        <div class="card py-2 px-3 mt-3 bg-white">
          <h6 class="font-weight-medium">Type</h6>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="Type"
                   id="Percentage"
                   value="Percentage"
                   formControlName="Type"
                   (change)="handleUpdatePromo($event, 'xp.Type')"
                   [checked]="promoTypeCheck('Percentage')">
            <label class="form-check-label"
                   for="Percentage">
              Percentage
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="Type"
                   id="FixedAmount"
                   value="FixedAmount"
                   formControlName="Type"
                   (change)="handleUpdatePromo($event, 'xp.Type')"
                   [checked]="promoTypeCheck('FixedAmount')">
            <label class="form-check-label"
                   for="FixedAmount">
              Fixed Amount
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="Type"
                   id="FreeShipping"
                   value="FreeShipping"
                   formControlName="Type"
                   (change)="handleUpdatePromo($event, 'xp.Type')"
                   [checked]="promoTypeCheck('FreeShipping')">
            <label class="form-check-label"
                   for="FreeShipping">
              Free Shipping
            </label>
          </div>
        </div>
        <div *ngIf="_promotionEditable?.xp?.Type !== 'FreeShipping'"
             class="card py-2 px-3 mt-3 bg-white">
          <h6 class="font-weight-medium">Value</h6>
          <label for="Value"></label>
          <div class="input-group w-25">
            <div *ngIf="_promotionEditable?.xp?.Type === 'FixedAmount'"
                 class="input-group-prepend"><span class="input-group-text">$</span>
            </div>
            <input type="number"
                   class="form-control"
                   formControlName="Value"
                   min="0"
                   (input)="handleUpdatePromo($event, 'xp.Value', 'number')"
                   id="Value">
            <div *ngIf="_promotionEditable?.xp?.Type === 'Percentage'"
                 class="input-group-append"><span class="input-group-text">%</span>
            </div>
          </div>
          <hr />
          <h6 class="font-weight-medium">Applies To</h6>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="AppliesTo"
                   id="EntireOrder"
                   value="EntireOrder"
                   formControlName="AppliesTo"
                   (change)="handleUpdatePromo($event, 'xp.AppliesTo')"
                   [checked]="promoTypeCheck('EntireOrder')">
            <label class="form-check-label"
                   for="EntireOrder">
              Entire Order
            </label>
          </div>
          <!-- Disabled until further development -->
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="AppliesTo"
                   id="SpecificSupplier"
                   value="SpecificSupplier"
                   formControlName="AppliesTo"
                   (change)="handleUpdatePromo($event, 'xp.AppliesTo')"
                   [checked]="promoTypeCheck('SpecificSupplier')">
            <label class="form-check-label"
                   for="SpecificSupplier">
              Specific Supplier
            </label>
          </div>
          <span *ngIf="_promotionEditable?.xp?.AppliesTo === 'SpecificSupplier'">
            <div ngbDropdown
                 *ngIf="suppliers?.length && selectedSupplier"
                 class="btn-block">
              <button class="resource-btn btn btn-outline-dark"
                      id="supplierSelectDropdown"
                      ngbDropdownToggle>{{selectedSupplier.Name}}</button>
              <div ngbDropdownMenu
                   aria-labelledby="supplier select dropdown">
                <button ngbDropdownItem
                        *ngFor="let supplier of suppliers"
                        (click)="selectSupplier(supplier)">
                  <summary-resource-display-component [resource]="supplier"
                                                      [resourceType]="'suppliers'">
                  </summary-resource-display-component>
                </button>
              </div>
            </div>
          </span>
        </div>
        <div class="card py-2 px-3 mt-3 bg-white">
          <h6 class="font-weight-medium">Minimum Requirements</h6>
          <small>
            <fa-icon style="color: #cccccc"
                     [icon]="faExclamationCircle"></fa-icon> You can only select one minimum requirement at this time.
          </small>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="MinReqType"
                   id="None"
                   [value]="null"
                   formControlName="MinReqType"
                   (input)="handleClearMinReq()"
                   [checked]="!_promotionEditable?.xp?.MinReq?.Type">
            <label class="form-check-label"
                   for="None">
              None
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="MinReqType"
                   id="MinPurchase"
                   value="MinPurchase"
                   formControlName="MinReqType"
                   (input)="handleUpdatePromo($event, 'xp.MinReq.Type')"
                   [checked]="_promotionEditable?.xp?.MinReq?.Type === 'MinPurchase'">
            <label class="form-check-label"
                   for="MinPurchase">
              Minimum purchase amount
            </label>
          </div>
          <div [hidden]="!_promotionEditable?.xp?.MinReq?.Type || _promotionEditable?.xp?.MinReq?.Type === 'MinItemQty'"
               class="input-group w-25">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input class="form-control"
                   type="number"
                   [value]="_promotionEditable?.xp?.MinReq?.Int"
                   min="0"
                   (input)="handleUpdatePromo($event, 'xp.MinReq.Int', 'number')"
                   formControlName="MinReqInt"
                   name="MinReqInt">
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="MinReqType"
                   id="MinItemQty"
                   value="MinItemQty"
                   formControlName="MinReqType"
                   (input)="handleUpdatePromo($event, 'xp.MinReq.Type')"
                   [checked]="_promotionEditable?.xp?.MinReq?.Type === 'MinItemQty'">
            <label class="form-check-label"
                   for="MinItemQty">
              Minimum quantity of items
            </label>
          </div>
          <div [hidden]="!_promotionEditable?.xp?.MinReq?.Type || _promotionEditable?.xp?.MinReq?.Type === 'MinPurchase'"
               class="input-group w-25">
            <input class="form-control"
                   type="number"
                   [value]="_promotionEditable?.xp?.MinReq?.Int"
                   min="0"
                   (input)="handleUpdatePromo($event, 'xp.MinReq.Int', 'number')"
                   formControlName="MinReqInt"
                   name="MinReqInt">
            <div class="input-group-append">
              <span class="input-group-text">Items</span>
            </div>
          </div>
          <ng-container *ngIf="_promotionEditable?.xp?.Type === 'FreeShipping'">
            <hr>
            <h6 class="font-weight-medium">Shipping</h6>
            <mat-checkbox aria-describedby="MaxShipCost"
                          color="primary"
                          [checked]="capShipCost"
                          (change)="toggleCapShipCost()">
              Exclude shipping rates over certain cost
            </mat-checkbox>
            <div [hidden]="!capShipCost"
                 class="input-group w-25">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input class="form-control"
                     type="number"
                     [value]="_promotionEditable?.xp?.MaxShipCost"
                     min="0"
                     (input)="handleUpdatePromo($event, 'xp.MaxShipCost', 'number')"
                     formControlName="MaxShipCost"
                     name="MaxShipCost">
            </div>
          </ng-container>
        </div>
        <div class="card py-2 px-3 mt-3 bg-white">
          <h6 class="font-weight-medium">Buyer Eligibility</h6>
          <small>
            <fa-icon style="color: #cccccc"
                     [icon]="faExclamationCircle"></fa-icon> All promotions are eligible to all buyers at this time.
          </small>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="AllowAllBuyers"
                   id="AllowAllBuyers"
                   [value]="_promotionEditable?.AllowAllBuyers"
                   formControlName="AllowAllBuyers"
                   (input)="handleUpdatePromo($event, 'AllowAllBuyers')"
                   [checked]="_promotionEditable?.AllowAllBuyers">
            <label class="form-check-label"
                   for="AllowAllBuyers">
              All buyers
            </label>
          </div>
          <!-- Placeholder for future functionality  -->
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="SpecificBuyers"
                   id="SpecificBuyers"
                   value="SpecificBuyers"
                   disabled
                   [checked]="false">
            <label class="form-check-label"
                   for="SpecificBuyers">
              Specific buyers
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="SpecificBuyerGroups"
                   id="SpecificBuyerGroups"
                   value="SpecificBuyerGroups"
                   disabled
                   [checked]="false">
            <label class="form-check-label"
                   for="SpecificBuyerGroups">
              Specific buyer groups
            </label>
          </div>
        </div>
        <div class="card py-2 px-3 mt-3 bg-white">
          <h6 class="font-weight-medium">Usage Limits</h6>
          <mat-checkbox aria-describedby="CanCombine"
                        color="primary"
                        [checked]="_promotionEditable?.CanCombine"
                        (change)="handleUpdatePromo($event, 'CanCombine')">
            Can combine with other promotions
          </mat-checkbox>
          <mat-checkbox aria-describedby="HasRedemptionLimit"
                        color="primary"
                        [checked]="hasRedemptionLimit"
                        (change)="toggleHasRedemptionLimit()">
            Limit the number of times this discount can be used total
          </mat-checkbox>
          <input [hidden]="!hasRedemptionLimit"
                 class="form-control w-25"
                 type="number"
                 [value]="_promotionEditable?.RedemptionLimit"
                 min="0"
                 (input)="handleUpdatePromo($event, 'RedemptionLimit', 'number')"
                 formControlName="RedemptionLimit"
                 name="RedemptionLimit">
          <mat-checkbox aria-describedby="LimitPerUser"
                        color="primary"
                        [checked]="limitPerUser"
                        (change)="toggleLimitPerUser()">
            Limit the number of times one user can redeem this promotion
          </mat-checkbox>
          <input [hidden]="!limitPerUser"
                 class="form-control w-25"
                 type="number"
                 [value]="_promotionEditable?.RedemptionLimitPerUser"
                 min="0"
                 (input)="handleUpdatePromo($event, 'RedemptionLimitPerUser', 'number')"
                 formControlName="RedemptionLimitPerUser"
                 name="RedemptionLimitPerUser">
        </div>
        <div class="card py-2 px-3 mt-3 bg-white">
          <h6 class="font-weight-medium">Active Dates</h6>
          <div class="form-group">
            <label for="StartDate">Start Date & Time (UTC)</label>
            <input class="form-control col-6"
                   type="datetime-local"
                   [value]="_promotionEditable?.StartDate"
                   (input)="handleUpdatePromo($event, 'StartDate')"
                   name="StartDate"
                   formControlName="StartDate"
                   [min]="getMinDate()">
          </div>
          <mat-checkbox aria-describedby="HasExpiration"
                        color="primary"
                        [checked]="hasExpiration"
                        (change)="toggleHasExpiration()">
            Set Expiration Date
          </mat-checkbox>
          <div *ngIf="hasExpiration"
               class="form-group">
            <label for="StartDate">Expiration Date & Time (UTC)</label>
            <input class="form-control col-6"
                   type="datetime-local"
                   [value]="_promotionEditable?.ExpirationDate"
                   (input)="handleUpdatePromo($event, 'ExpirationDate')"
                   name="ExpirationDate"
                   formControlName="ExpirationDate"
                   [min]="getMinDate()">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5">
      <div class="card py-2 px-3 mt-3 bg-white">
        <h6 class="font-weight-medium">Summary</h6>
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="font-weight-bold">{{_promotionEditable?.Code}}</h5>
          <span *ngIf="!isCreatingNew"
                class="badge badge-pill"
                [ngClass]="{'badge-success': !isExpired, 'badge-light': isExpired}">{{isExpired ? 'Expired' : 'Active'}}</span>
        </div>
        <p *ngIf="!_promotionEditable?.Code && !_promotionEditable?.xp?.Value">No information entered yet.</p>
        <ng-container *ngIf="_promotionEditable?.xp?.Value || _promotionEditable?.xp?.Type === 'FreeShipping'">
          <ul>
            <li>{{getValueDisplay()}}</li>
            <li *ngIf="_promotionEditable?.StartDate && _promotionEditable?.ExpirationDate">{{getDateRangeDisplay()}}</li>
            <li *ngIf="_promotionEditable?.xp?.MaxShipCost">Applies to shipping rates under {{_promotionEditable?.xp?.MaxShipCost | currency}}</li>
            <li>{{getEligibilityDisplay()}}</li>
            <li *ngIf="_promotionEditable?.RedemptionLimit">{{getUsageLimitDisplay()}}</li>
            <li>{{_promotionEditable?.CanCombine ? 'Can be combined with other promotions' : 'Cannot be combined with other promotions'}}</li>
          </ul>
        </ng-container>
        <ng-container *ngIf="!isCreatingNew && _promotionStatic.ID">
          <hr>
          <h6>Performance</h6>
          <ul>
            <li>{{this._promotionStatic?.RedemptionCount}} used</li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- TODO: 2/2 Abstract into component to be used anywhere using inputs and outputs -->
      <div class="d-flex justify-content-between align-items-center py-2">
        <delete-confirm-modal-component *ngIf="!isCreatingNew"
                                        buttonText="Delete Promotion"
                                        (deleteConfirmed)="handleDelete($event)">
        </delete-confirm-modal-component>
        <div class="d-flex flex-column justify-content-end">
          <div>
            <button *ngIf="areChanges"
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="resourceForm?.status === 'INVALID' || dataIsSaving"
                    (click)="handleSave()">{{getSaveBtnText()}}</button>
            <button class="btn brand-button ml-3"
                    (click)="handleDiscardChanges()"
                    *ngIf="areChanges && !isCreatingNew">Discard Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>