<div class="lead"><b translate>PAYMENTS.PAYMENT_LIST.PAYMENTS</b></div>
<div class="mb-4"
     *ngFor="let payment of payments?.Items">
  <span *ngIf="payment.Type === 'CreditCard'">
    <strong translate>
      <ocm-credit-card-icon [cardType]="payment.xp.cardType"></ocm-credit-card-icon><span translate> PAYMENTS.PAYMENT_LIST.ENDING_IN</span> {{payment.xp.partialAccountNumber}}
    </strong>
  </span>
  <span *ngIf="payment.Type === 'PurchaseOrder'"
        translate>
    PAYMENTS.PAYMENT_LIST.PO <small *ngIf="payment.Details.PONumber">{{payment.Details.PONumber}}</small>
  </span>
  <span *ngIf="payment.Type === 'SpendingAccount'"><span translate>PAYMENTS.PAYMENT_LIST.SPENDING_ACC</span>
    : {{ payment.Details.Name }}
  </span>
  <span class="float-right">-{{payment.Amount | currency}}</span>
</div>