<div class="container">
  <ocm-profile-nav>
    <div *ngIf="order">
      <nav class="breadcrumb"
           aria-label="breadcrumb">
        <a class="breadcrumb-item link text-primary"
           (click)="toAllOrders()">All Orders</a>
        <a class="breadcrumb-item link text-primary"
           aria-current="page">{{order.ID}}</a>
      </nav>
      <div class="pb-2 mt-4 mb-2">
        <h2> <span class="text-muted">Order #:</span> {{order.ID}} <span class="badge badge-pill badge-primary ml-2">{{order.xp.OrderType}}</span></h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div>Status:
            <ocm-order-status-icon [status]="order.Status"></ocm-order-status-icon> {{order.Status}}
          </div>
          <small class="float-left">Submitted on {{order.DateSubmitted | date: 'short'}}</small>
        </div>
        <div class="col-md-6">
          <button *ngIf="!approvalVersion"
                  class="btn btn-outline-secondary float-right"
                  (click)="toggleFavorite(order)">Favorite
            <ocm-toggle-favorite title="Favorite"
                                 [favorite]="isFavorite(order.ID)">
            </ocm-toggle-favorite>
          </button>
          <button *ngIf="!approvalVersion && !isQuoteOrder()"
                  class="btn btn-secondary float-right mr-2"
                  (click)="open(reorderModal)">
            Reorder
          </button>
          <!-- TODO: refactor the reorder process to not be in a modal -->
          <ng-template #reorderModal
                       let-modal
                       class="confirm-modal">
            <confirm-modal [modalTitle]="'Reorder'"
                           aria-labelledby="confirm-modal">
              <div class="alert"
                   [ngClass]="{'alert-danger': message.classType == 'danger',
                                              'alert-warning': message.classType == 'warning',
                                              'alert-success': message.classType == 'success'}">
                <p [innerHTML]='message.string'> </p>
              </div>
              <ocm-lineitem-table *ngIf="reorderResponse.InvalidLi.length"
                                  [lineItems]="reorderResponse.InvalidLi"
                                  [readOnly]="true">
              </ocm-lineitem-table>
              <div class="row d-flex justify-content-space-between justify-content-between mr-2 ml-2">
                <button type="button"
                        class="btn btn-secondary btn-md"
                        (click)="modal.dismiss()">Cancel</button>
                <button type="button"
                        class="btn btn-primary btn-md"
                        [disabled]="!reorderResponse?.ValidLi?.length"
                        (click)="addToCart()"
                        (click)="modal.dismiss()">Add Valid Items to Cart</button>
              </div>
            </confirm-modal>
          </ng-template>
        </div>
        <ocm-order-approval *ngIf="approvalVersion"
                            class="float-right"
                            [orderID]='order.ID'></ocm-order-approval>
      </div>
    </div>
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <button class="btn btn-link nav-link"
                (click)="toDetails()">
          <fa-icon [icon]="faCube"></fa-icon>
          Details
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link"
                (click)="toShipments()">
          <fa-icon [icon]="faTruck"></fa-icon>
          Shipments
        </button>
      </li>
    </ul>
    <ocm-order-historical class="col-md-6"
                          *ngIf="orderDetails && showDetails()"
                          [orderDetails]="orderDetails"></ocm-order-historical>
    <ocm-order-shipments *ngIf="showShipments()"></ocm-order-shipments>
  </ocm-profile-nav>
</div>