<!-- TODO: Componentize into smaller chunks (Order Details, Address, Payment, Line Item) -->
<div class="container float-left order-detail-pdf-range">
  <div *ngIf="_order">
    <div class="pb-2 mt-4 mb-2">
      <h2> <span class="text-muted">Order #:</span> {{_order.ID}}<span *ngIf="_order?.xp?.OrderType === 'Quote'"
              class="badge badge-pill badge-primary ml-2">{{_order?.xp?.OrderType}}</span></h2>
      <button *ngIf="_order?.xp?.OrderType === 'Quote' && _order?.Status !== 'Completed'"
              class="btn btn-outline-primary float-right"
              (click)="setOrderStatus()">Acknowledge Quote</button>
      <button *ngIf="_order?.xp?.OrderType !== 'Quote' && orderDirection === 'Incoming'"
              class="btn btn-outline-primary float-right d-print-none"
              (click)="createAndSavePDF()">
        <fa-icon [icon]="faDownload"></fa-icon> Download Order Invoice PDF
      </button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div>Status: {{_order?.xp?.SubmittedOrderStatus}}</div>
        <div>Claim Status: {{_order?.xp?.ClaimStatus}}</div>
        <div>Shipping Status: {{_order?.xp?.ShippingStatus}}</div>
        <small class="float-left">Submitted on {{_order.DateSubmitted | date: 'short'}}</small>
      </div>
    </div>
    <hr>
    <div class="row mb-5"
         *ngIf="_order">
      <div class="col-6">
        <div *ngIf="_lineItems[0] && !isQuoteOrder(_order)">
          <div *ngIf="_order.FromUser"
               class="d-flex justify-content-between align-items-center mb-4">
            <div>
              <span class="text-muted">Buyer</span>
              <p class="mb-0 text-capitalize font-weight-bold">{{_order.FromUser.FirstName}} {{_order.FromUser.LastName}}</p>
              <p class="mb-0"
                 *ngIf="_order.FromUser.Phone">{{_order.FromUser.Phone | tel}}</p>
              <p class="mb-0"
                 *ngIf="_order.FromUser.Email">{{_order.FromUser.Email}}</p>
            </div>
          </div>
          <div *ngIf="_lineItems[0].ShippingAddress"
               class="d-flex justify-content-between align-items-center mb-4">
            <div>
              <span class="text-muted">Shipping Address</span>
              <p class="mb-0 text-capitalize font-weight-bold">{{_lineItems[0].ShippingAddress.Street1}}<span *ngIf="_lineItems[0].ShippingAddress?.Street2">, {{_lineItems[0].ShippingAddress.Street2}}</span></p>
              <p class="mb-0 text-capitalize font-weight-bold">{{_lineItems[0].ShippingAddress.City}}, {{_lineItems[0].ShippingAddress.State}} {{_lineItems[0].ShippingAddress.Zip}}</p>
              <small class="mb-0">{{getFullName(_lineItems[0].ShippingAddress)}}
                <span *ngIf="_lineItems[0].ShippingAddress?.Phone"> | {{_lineItems[0].ShippingAddress.Phone}}</span>
              </small>
            </div>
          </div>
          <!-- Since Outgoing Orders do not have a Billing Address, using an *ngIf -->
          <div *ngIf="_order.BillingAddress"
               class="d-flex justify-content-between align-items-center mb-4">
            <div>
              <span class="text-muted">Billing Address</span>
              <p class="mb-0 text-capitalize font-weight-bold">{{_order.BillingAddress.Street1}}<span *ngIf="_order.BillingAddress.Street2">, {{_order.BillingAddress.Street2}}</span></p>
              <p class="mb-0 text-capitalize font-weight-bold">{{_order.BillingAddress.City}}, {{_order.BillingAddress.State}} {{_order.BillingAddress.Zip}}</p>
              <small class="mb-0">{{getFullName(_order.BillingAddress)}}
                <span *ngIf="_lineItems[0].ShippingAddress?.Phone"> | {{_order.BillingAddress.Phone}}</span>
              </small>
            </div>
          </div>
        </div>
      </div>
      <!-- DISPLAY FOR STANDARD (NON-QUOTE) ORDERS-->
      <div class="col-6"
           *ngIf="!isQuoteOrder(_order)">
        <div *ngIf="_order.Comments"
             class="alert alert-secondary small">
          <strong>Comments: </strong> {{_order.Comments}}
        </div>
        <!-- Since Outgoing Orders do not have a Shipping/Tax, using an *ngIf -->
        <div *ngIf="orderDirection === 'Incoming'">
          <span class="d-block"><strong>Subtotal</strong> <span class="float-right">{{_order.Subtotal | currency}}</span></span>
          <span class="d-block"><strong>Shipping</strong> <span class="float-right">{{_order.ShippingCost | currency}}</span><br /></span>
          <span class="d-block"><strong>Tax</strong> <span class="float-right">{{_order.TaxCost | currency}}</span><br /></span>
          <div *ngIf="_order.PromotionDiscount">
            <strong class="text-danger">Promo Discount</strong> <span class="float-right text-danger">-{{_order.PromotionDiscount | currency}}</span>
          </div>
          <hr>
        </div>
        <div class="text-right lead"><b class="float-left">Total:</b><span class="_order-total">
            <span *ngIf="_order.xp?.Currency"
                  class="badge
                      badge-pill
                      badge-primary">{{_order.xp.Currency}}</span>
            {{_order.Total | currency}}</span></div>
        <hr>
        <!-- Since Outgoing Orders do not have Payment information, using an *ngIf -->
        <div class="lead"
             *ngIf="orderDirection === 'Incoming'">
          <b>Payments</b>
        </div>
        <div class="mb-4"
             *ngFor="let payment of _payments">
          <span *ngIf="payment.Type === 'CreditCard'">
            <strong>
              {{ setCardType(payment) }} ending in {{ payment.xp.partialAccountNumber }}
            </strong>
          </span>
          <span *ngIf="payment.Type === 'PurchaseOrder'">
            Purchase Order <small *ngIf="payment.ID">{{payment.ID}}</small>
          </span>
          <span *ngIf="payment.Type === 'SpendingAccount'">
            Spending Account: {{ payment.Details.Name }}
          </span>
          <span class="float-right">-{{payment.Amount | currency}}</span>
          <hr>
        </div>
      </div>

      <!--DISPLAY FOR QUOTE ORDERS-->
      <div class="col-6"
           *ngIf="isQuoteOrder(_order)">
        <strong>Submitted By</strong>
        <span class="float-right">{{_order.xp?.QuoteOrderInfo?.FirstName}} {{_order.xp?.QuoteOrderInfo?.LastName}}</span><br>
        <span class="float-right">{{_order.xp?.QuoteOrderInfo?.Phone | tel}}</span><br>
        <span class="float-right">{{_order.xp?.QuoteOrderInfo?.Email}}</span><br>
        <div *ngIf="order?.xp?.QuoteOrderInfo?.Comments"
             class="alert alert-secondary small">
          <strong>Comments: </strong> {{_order.xp.QuoteOrderInfo?.Comments}}
        </div>
      </div>
    </div>
    <app-order-shipments (createOrViewShipmentEvent)="toggleCreateShipment($event)"
                         [order]="_order"
                         [orderDirection]="orderDirection">

    </app-order-shipments>
    <app-line-item-table [lineItems]="_lineItems"
                         [orderDirection]="orderDirection"
                         (orderChange)="refreshOrder()"
                         [orderID]="_order.ID">
    </app-line-item-table>
  </div>
</div>