@import '../../../../styles/secondary.scss';

.navbar-brand {
  .logo {
    content: url($logo);
    max-height: 40px;
  }
}

.badge__counter--large {
  ::ng-deep {
    .fa-layers-counter {
      height: 1.5em;
      top: -10px;
      right: -12px;
      font-size: 45px;
    }
  }
}

.account-dropdown-alignment {
  right: 0;
  left: auto;
}