// --------------------------------------------------------------------------------------
// This file should include variable overrides as well as custom variables
//
// we've included a subset of common bootstrap variables you might want to override
// to start you off. want to see the full list of bootstrap variables?
// check out node_modules/bootstrap/variables.scss
// --------------------------------------------------------------------------------------
$navy-50:           #E1E5E8;
$navy-100:          #B3BFC7;
$navy-200:          #8195A1;
$navy-300:          #4F6A7B;
$navy-400:          #294A5F;
$navy-500:          #032A43;
$navy-600:          #03253D;
$navy-700:          #021F34;
$navy-800:          #02192C;
$navy-900:          #010F1E;

$orange-50:         #FDECE4;
$orange-100:        #FBD0BD;
$orange-200:        #F8B091;
$orange-300:        #F59064;
$orange-400:        #F37943;
$orange-500:        #F16122;
$orange-600:        #EF591E;
$orange-700:        #ED4F19;
$orange-800:        #EB4514;
$orange-900:        #E7330C;

$teal-50:           #E4F5F5;
$teal-100:          #BCE6E6;
$teal-200:          #90D5D6;
$teal-300:          #63C4C6;
$teal-400:          #41B8B9;
$teal-500:          #20ABAD;
$teal-600:          #1CA4A6;
$teal-700:          #189A9C;
$teal-800:          #139193;
$teal-900:          #0B8083;

$gray-100:          #f9f7f4;
$gray-200:          #f4efe9;
$gray-300:          #f1eae2;
$gray-400:          #c1bbb5;
$gray-500:          #908c87;
$gray-600:          #787470;
$gray-700:          #474543;
$gray-800:          #2f2d2c;
$gray-900:          #1e1d1d;
$black:             #000000;

// Bootstrap color palette: These variables are used to generate your theme. Only include variables you need to override.

$blue:              $navy-500;    // primary
$indigo:            #3158c4;
$purple:            #8e4ab9;
$pink:              #d10ce8;
$red:               #f63d51;
$orange:            $orange-500;  // accent
$green:             #28a745;
$teal:              $teal-500;    // accent

$primary:           $navy-500;
$secondary:         $orange-500;
$gray-light:        $gray-400;
$light:             $gray-100;
$medium:            $gray-700;
$dark:              $gray-800;
$primary-dark:      $navy-700;
$primary-light:     $navy-100;

$theme-colors: (
  'primary':        $navy-500,        
  'secondary':      $orange-500,
  'teal':           $teal,
  'primary-dark':   $primary-dark,
  'primary-light':  $primary-light
);

// Body
//
// Settings for the `<body>` element.

$body-bg:           white;
$body-color:          $gray-800;