<resource-table-component [resourceList]="resourceList"
                          [selectedResourceID]="selectedResourceID"
                          [updatedResource]="updatedResource"
                          [resourceInSelection]="resourceInSelection"
                          [ocService]="ocService"
                          [resourceForm]="resourceForm"
                          (searched)="searchResources($event)"
                          (hitScrollEnd)="handleScrollEnd()"
                          (changesSaved)="saveUpdates()"
                          (changesDiscarded)="discardChanges()"
                          (resourceDelete)="deleteResource()"
                          (resourceSelected)="selectResource($event)">

  <div class="resource-edit">
    <resource-edit-component resourceType="Buyer"
                             (updateResource)="updateResource($event)"
                             [resource]="updatedResource"></resource-edit-component>
  </div>
</resource-table-component>