<div class="card mb-1"
     *ngIf="order">
  <h5 class="card-header"
      translate>ORDERS.SUMMARY.SUMMARY</h5>
  <div class="card-body">
    <h6 class="card-title">{{order.LineItemCount}} <span translate>ORDERS.SUMMARY.ITEM_COUNT</span></h6>
    <div class="text-right"><b class="float-left"
         translate>ORDERS.SUMMARY.SUBTOTAL</b><span class="sub-total">{{order.Subtotal | currency}}</span></div>
    <div class="text-right"><b class="float-left"
         translate>ORDERS.SUMMARY.SHIPPING</b><span class="shipping-cost">{{ displayShipping() }}</span></div>
    <div class="text-right"><b class="float-left"
         translate>ORDERS.SUMMARY.TAX</b><span class="tax-cost">{{ displayTax() }}</span></div>
    <hr>
    <div class="text-right lead"><b class="float-left"
         translate>ORDERS.SUMMARY.TOTAL</b><span class="order-total">{{ displayTotal() }}</span></div>
  </div>
</div>