<div class="container-fluid resource-edit">
  <form [formGroup]="resourceForm">
    <div class="row pt-3">
      <div class="col-md-5">
        <h5>{{'ALIAS.SUPPLIER' | translate}} Details</h5>
        <p>These are the basic details of the {{'ALIAS.SUPPLIER' | translate | lowercase}}.</p>
      </div>
      <div class="col-md-7 form-group">
        <div class="form-group">
          <p class="mb-1">Active</p>
          <label class="switch mb-0"
                 for="Active">
            <input type="checkbox"
                   class="form-check-input"
                   id="Active"
                   showErrors
                   [resourceForm]="resourceForm"
                   aria-describedby="Active"
                   formControlName="Active"
                   (input)="updateResourceFromEvent($event, 'Active')">
            <span class="slider round cursor-pointer"></span>
          </label>
        </div>
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text"
                 class="form-control"
                 id="Name"
                 showErrors
                 aria-describedby="Name"
                 maxlength="100"
                 [resourceForm]="resourceForm"
                 formControlName="Name"
                 (input)="updateResourceFromEvent($event, 'Name')"
                 placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="Logo URL">Logo URL</label>
          <input type="text"
                 class="form-control"
                 id="Logo URL"
                 showErrors
                 [resourceForm]="resourceForm"
                 aria-describedby="Logo URL"
                 formControlName="LogoUrl"
                 (input)="updateResourceFromEvent($event, 'xp.Images.0.URL')"
                 placeholder="Enter Logo URL">
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <reactive-quill-editor-component [resourceInSelection]="resourceInSelection"
                                           [formControlForText]="resourceForm?.controls.Description"
                                           resourceField="Description"
                                           pathOnResource="xp.Description"
                                           (resourceUpdated)="updateResource.emit($event)">
          </reactive-quill-editor-component>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Currency">Currency <small *ngIf="isCreatingNew"
                     class="text-danger font-weight-bolder">*</small></label>
            <select class="form-control"
                    id="Currency"
                    formControlName="Currency"
                    (change)="updateResourceFromEvent({target: { value: $event.value }}, 'xp.Currency')">
              <option *ngFor="let currency of availableCurrencies"
                      [value]="currency.Currency"><img [src]="currency.Icon"> {{currency.Name}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <p class="mb-1">Use FreightPOP for Shipping</p>
            <label class="switch mb-0"
                   for="SyncFreightPop">
              <input type="checkbox"
                     class="form-check-input"
                     id="SyncFreightPop"
                     showErrors
                     [resourceForm]="resourceForm"
                     aria-describedby="SyncFreightPop"
                     formControlName="SyncFreightPop"
                     (input)="updateResourceFromEvent($event, 'xp.SyncFreightPop')">
              <span class="slider round cursor-pointer"></span>
            </label>
          </div>

          <div class="form-group col-md-12"
               formGroupName="ProductTypes">
            <label>Product Types</label>
            <div class="d-flex justify-content-start align-items-center">
              <div class="custom-control custom-checkbox mr-3">
                <input type="checkbox"
                       class="custom-control-input"
                       [resourceForm]="resourceForm"
                       formControlName="Standard"
                       (change)="updateResourceFromEvent({target: { value: $event.checked }}, 'xp.ProductTypes.Standard')"
                       id="Standard">
                <label class="custom-control-label"
                       for="Standard">Standard</label>
              </div>
              <div class="custom-control custom-checkbox mr-3">
                <input type="checkbox"
                       class="custom-control-input"
                       [resourceForm]="resourceForm"
                       formControlName="Quote"
                       (change)="updateResourceFromEvent({target: { value: $event.checked }}, 'xp.ProductTypes.Quote')"
                       id="Quote">
                <label class="custom-control-label"
                       for="Quote">Quote</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox"
                       class="custom-control-input"
                       [resourceForm]="resourceForm"
                       formControlName="PurchaseOrder"
                       (change)="updateResourceFromEvent({target: { value: $event.checked }}, 'xp.ProductTypes.PurchaseOrder')"
                       id="PurchaseOrder">
                <label class="custom-control-label"
                       for="PurchaseOrder">Purchase Order</label>
              </div>
            </div>
            <small id="productTypesHelp"
                   class="form-text text-muted">
              What types of products is this supplier able to sell? Check at least one.
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-5">
        <h5>Support Contact</h5>
        <p>Information about your public facing support contact for questions from end buyers.</p>
      </div>
      <div class="col-md-7 form-group">
        <div class="form-group">
          <label for="Support Contact Name">Support Contact Name</label>
          <input type="text"
                 class="form-control"
                 id="Support Contact Name"
                 showErrors
                 [resourceForm]="resourceForm"
                 aria-describedby="Support Contact Name"
                 formControlName="SupportContactName"
                 (input)="updateResourceFromEvent($event, 'xp.SupportContact.Name')"
                 placeholder="Enter Support Contact Name">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Support Contact Name">Support Contact Email</label>
            <input type="text"
                   class="form-control"
                   id="Support Contact Email"
                   showErrors
                   [resourceForm]="resourceForm"
                   aria-describedby="Support Contact Email"
                   formControlName="SupportContactEmail"
                   (input)="updateResourceFromEvent($event, 'xp.SupportContact.Email')"
                   placeholder="Enter Support Contact Email">
          </div>
          <!-- no phone validation currently because this field has extraneous values that would break validation -->
          <div class="form-group col-md-6">
            <label for="Support Contact Phone">Support Contact Phone</label>
            <input type="text"
                   class="form-control"
                   showErrors
                   [resourceForm]="resourceForm"
                   id="Support Contact Phone"
                   aria-describedby="Support Contact Phone"
                   formControlName="SupportContactPhone"
                   (input)="updateResourceFromEvent($event, 'xp.SupportContact.Phone')"
                   placeholder="Enter Support Contact Phone">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>