<div class="container-fluid">
  <product-visibility-assignments-component *ngIf="_superMarketplaceProduct"
                                            [product]="_superMarketplaceProduct.Product">
  </product-visibility-assignments-component>
  <!-- Product Details -->
  <div class="row pt-3">
    <div class="col-md-5">
      <h5>Product Details</h5>
      <p class="font-italic">This is a description of the basic information section.</p>
    </div>
    <div class="col-md-7">
      <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Name</label>
      <p>{{_superMarketplaceProduct?.Product?.Name}}</p>
      <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Supplier</label>
      <p>{{supplier?.Name}}</p>
      <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Description</label>
      <p [innerHtml]="_superMarketplaceProduct?.Product?.Description"></p>
      <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Quantity Multiplier</label>
      <p>{{_superMarketplaceProduct?.Product?.QuantityMultiplier}}</p>
      <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Default Price</label>
      <p>{{_superMarketplaceProduct?.PriceSchedule?.PriceBreaks[0]?.Price | currency}}</p>
      <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Tax Code</label>
      <p *ngIf="_superMarketplaceProduct?.Product?.xp?.Tax">{{_superMarketplaceProduct?.Product?.xp?.Tax?.Code}}: {{_superMarketplaceProduct?.Product?.xp?.Tax?.Description}}</p>
      <p *ngIf="!_superMarketplaceProduct?.Product?.xp?.Tax">No Tax Code</p>
    </div>
  </div>
  <!-- /Product Details -->
  <!-- Shipping Information -->
  <div class="row pt-3 mt-5 border-top">
    <div class="col-md-5">
      <h5>Shipping Information</h5>
      <p class="font-italic">Provide accurate shipping weight and dimensions for the most accurate shipping estimates.</p>
    </div>
    <div class="col-md-7">
      <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Ship-From Address</label>
      <p>{{_superMarketplaceProduct?.Product?.ShipFromAddressID}}</p>
      <div class="row">
        <div class="col-md-6">
          <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Ship Height</label>
          <p>{{_superMarketplaceProduct?.Product?.ShipHeight}}</p>
        </div>
        <div class="col-md-6">
          <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Ship Width</label>
          <p>{{_superMarketplaceProduct?.Product?.ShipWidth}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Ship Length</label>
          <p>{{_superMarketplaceProduct?.Product?.ShipLength}}</p>
        </div>
        <div class="col-md-6">
          <label class="small text-uppercase font-weight-bold text-primary-light mb-0">Ship Weight</label>
          <p>{{_superMarketplaceProduct?.Product?.ShipWeight}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /Shipping Information -->
  <!-- Product Images -->
  <div class="row pt-3 mt-5 border-top">
    <div class="col-md-5">
      <h5>Product Images</h5>
      <p class="font-italic">Drag and Drop or upload your product images to display on the buyer site.</p>
    </div>
    <div class="col-md-7">
      <div class="d-flex justify-content-start align-items-center flex-wrap">
        <div *ngFor="let image of images; let i = index"
             class="product-img-wrapper mr-2">
          <img class="product-img"
               [id]="i"
               [src]="image.URL"
               width="auto"
               height="100px">
        </div>
      </div>
    </div>
  </div>
  <!-- /Product Images -->
</div>