<div class="collapse navbar-collapse d-flex justify-content-between">
  <ul>
    <li *ngFor="let parentCategory of parentCategories">
      <a (click)="setActiveCategory(parentCategory.ID)">{{parentCategory.Name}}</a>
      <ul>
        <li *ngFor="let subCategory of subCategories | childCategoryFilter: parentCategory.ID">
          <a (click)="setActiveCategory(subCategory.ID)">{{subCategory.Name}}</a>
          <ul>
            <li *ngFor="let subSubCategory of subSubCategories | childCategoryFilter: subCategory.ID">
              <a (click)="setActiveCategory(subSubCategory.ID)">{{subSubCategory.Name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>