div {
  width: 1125px;
  height: 500px;
  background: var(--primary);
  border-radius: 3px;
  float: left;
}

a {
  cursor: pointer;
}

span {
  display: inline-block;
  margin-left: 0.3em;
  transition: transform 0.3s ease;
  transform: translate(0px);
}

a:hover > span {
  transform: translate(10px);
}

ul {
  display: block;
  list-style: none;
  left: 100%;
  padding: 0;
  margin: 0;
  background: var(--primary);
  border-right: 1px solid var(--gray-light);
  height: 500px;
  width: 375px;
  max-height: 500px;
  overflow: auto;
  overflow-wrap: break-word;
}

ul li {
  position: static;
  background: var(--primary);
}

li ul {
  display: none;
}

ul li a {
  display: block;
  padding: 0.6em;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  transition: background 0.3s, color 0.3s;
}

ul li ul {
  top: 122px;
  left: 375px;
  position: fixed;
  max-height: 500px;
  max-width: 375px;
  overflow-wrap: break-word;
  border-right: 1px solid var(--gray-light);
}

ul li ul li ul {
  top: 122px;
  left: 750px;
  position: fixed;
  max-height: 500px;
  max-width: 375px;
  overflow-wrap: break-word;
  overflow: auto;
  border-right: none;
}

ul li a:hover {
  background: var(--gray-light);
  color: var(--primary);
}

li:hover > ul {
  top: 0;
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
}

li:hover a {
  display: block;
  top: 75;
  background: var(--primary);
}

li:hover li a:hover {
  background: var(--gray-light);
}

ul:before,
ul:after {
  content: ' ';
  display: table;
}

ul:after {
  clear: both;
}

// scroll-bar

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-light);
}

::-webkit-scrollbar-track {
  background: var(--primary);
}
