<div *ngIf="lineItems">
  <ocm-payment-list *ngIf="payments"
                    [payments]="payments"></ocm-payment-list>
  <div class="row">
    <div class="col-6">
      <small class="font-weight-bold text-muted text-uppercase">Ship to:</small>
      <ocm-address-card *ngIf="lineItems.Items[0].ShippingAddress"
                        [address]="lineItems.Items[0].ShippingAddress"
                        addressTitle="Shipping Address">
      </ocm-address-card>
    </div>
    <div class="col-6">
      <small class="font-weight-bold text-muted text-uppercase">Bill to:</small>
      <ocm-address-card [address]="order.BillingAddress"
                        addressTitle="Billing Address"
                        *ngIf="order?.BillingAddress">
      </ocm-address-card>
    </div>
  </div>
  <ocm-lineitem-table [lineItems]="lineItems?.Items"
                      [readOnly]="true">
  </ocm-lineitem-table>
  <form *ngIf="!anonEnabled"
        novalidate
        [formGroup]="form">
    <textarea type="text"
              maxlength="2000"
              placeholder="Comments (optional)"
              formControlName="comments"
              class="form-control">
    </textarea>
  </form>
</div>
<button class="btn btn-primary mt-4"
        [disabled]="isSubmittingOrder"
        (click)="saveCommentsAndSubmitOrder()">Submit Order</button>