<div class="container mt-4">
  <div class="row">
    <div class="col-md-5">
      <ocm-image-gallery *ngIf="_product"
                         [images]="_product.Images"></ocm-image-gallery>
    </div>
    <div class="col-md-7">
      <h1 class="h5 mt-0 mb-4">Products Included</h1>
      <ngb-accordion #accordion
                     [closeOthers]="false"
                     [activeIds]="panelActiveIDs"
                     *ngIf="_product && _product.ProductAssignments.ProductsInKit?.length">
        <ngb-panel *ngFor="let productKitDetails of _product.ProductAssignments.ProductsInKit"
                   [id]="productKitDetails.Product.ID">
          <ng-template ngbPanelHeader
                       ngbPanelToggle>
            <div class="row align-items-center">
              <div class="col-md flex-grow-0">
                <a class="d-block"
                   style="width:100px"
                   name="{{ productKitDetails.Product.Name }}"
                   (click)="context.router.toProductDetails(productKitDetails.Product.ID)">
                  <img class="img-thumbnail"
                       [src]="productDictionary[productKitDetails.Product.ID].imageUrl"
                       alt="{{'Image for ' + productKitDetails.Product.Name }}">
                </a>
              </div>
              <div class="col-md">
                <h2 class="h5 mb-0">{{ productKitDetails.Product.Name }}</h2>
                <p class="mb-0">{{ productDictionary[productKitDetails.Product.ID].price | currency: userCurrency }}</p>
              </div>
              <!-- product min-quantity, quantity input, qty error message -->
              <div class="col-md-3 d-flex flex-column"
                   [ngClass]="{'align-self-end': productDictionary[productKitDetails.Product.ID].errorMessage}">
                <span *ngIf="productKitDetails.MinQty === productKitDetails.MaxQty">(qty: {{ productKitDetails.MinQty }})</span>
                <ocm-quantity-input *ngIf="productKitDetails.MinQty !== productKitDetails.MaxQty"
                                    [gridDisplay]="true"
                                    style="min-width: 35px;"
                                    [product]="productKitDetails.Product"
                                    [priceSchedule]="productKitDetails.Product.PriceSchedule"
                                    (qtyChange)="qtyChange(productKitDetails.Product.ID, $event.detail)"></ocm-quantity-input>
                <ng-container *ngIf="productDictionary[productKitDetails.Product.ID].errorMessage">
                  <small class="text-danger">{{productDictionary[productKitDetails.Product.ID].errorMessage}}</small>
                </ng-container>
              </div>
              <!-- accordion toggle -->
              <div class="col-md flex-grow-0">
                <button ngbPanelToggle
                        type="button"
                        class="btn icon-button"
                        *ngIf="productDictionary[productKitDetails.Product.ID]?.specs?.length > 0">
                  <fa-icon class="icon-wrapper"
                           [icon]="accordion.isExpanded(productKitDetails.Product.ID) ? faCaretDown : faCaretRight">
                    <span class="sr-only">Expand and collapse {{ productKitDetails.Product.Name }}</span>
                  </fa-icon>
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <ocm-spec-form *ngIf="productDictionary[productKitDetails.Product.ID]?.specs?.length > 0"
                           [disabledVariants]="productDictionary[productKitDetails.Product.ID].disabledVariants"
                           [compact]="true"
                           [currency]="productKitDetails.Product?.xp?.Currency"
                           [specs]="productDictionary[productKitDetails.Product.ID].specs"
                           (specFormChange)="onSpecFormChange(productKitDetails.Product.ID, $event.detail)">
            </ocm-spec-form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="my-3 float-right"
           *ngIf="_product && _product.Attachments.length > 0">
        <strong><span translate>PRODUCTS.DETAILS.DOCS</span>:</strong>
        <div class="mt-2">
          <a class="border border-medium border-radius p-2 mr-2"
             *ngFor="let attachment of _product.Attachments"
             [href]="attachment.Url"
             target="_blank"
             download="attachment.FileName">{{attachment.FileName}}</a>
        </div>
      </div>
      <button class="btn btn-block btn-primary my-4 shadow"
              type="submit"
              [disabled]="isAddingToCart || !areQuantitesValid()"
              (click)="addToCart()"
              translate>
        PRODUCTS.DETAILS.ADD_TO_CART
      </button>
    </div>
  </div>
</div>