<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-xl-5 col-lg-5">
      <ocm-image-gallery *ngIf="_product"
                         [images]="_product.Images"></ocm-image-gallery>
    </div>
    <div class="col-xl-5 col-lg-4">
      <h5><strong>Products Included</strong></h5>
      <ngb-accordion #accordion
                     [closeOthers]="false"
                     [activeIds]="panelActiveIDs"
                     *ngIf="_product && _product.ProductAssignments.ProductsInKit?.length">
        <ngb-panel *ngFor="let productKitDetails of _product.ProductAssignments.ProductsInKit"
                   [id]="productKitDetails.Product.ID">
          <ng-template ngbPanelHeader
                       ngbPanelToggle>
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <img [src]="productDictionary[productKitDetails.Product.ID].imageUrl"
                     alt="{{'Image for ' + productKitDetails.Product.Name }}">
                <div> <a (click)="context.router.toProductDetails(productKitDetails.Product.ID)"
                     class="text-dark font-weight-medium line-height-1">{{ productKitDetails.Product.Name }}</a> | {{ productDictionary[productKitDetails.Product.ID].price | currency: userCurrency }} <span *ngIf="productKitDetails.MinQty === productKitDetails.MaxQty"> | (qty: {{ productKitDetails.MinQty }})</span></div>
                <ocm-quantity-input *ngIf="productKitDetails.MinQty !== productKitDetails.MaxQty"
                                    [gridDisplay]="true"
                                    [product]="productKitDetails.Product"
                                    [priceSchedule]="productKitDetails.Product.PriceSchedule"
                                    (qtyChange)="qtyChange(productKitDetails.Product.ID, $event.detail)"></ocm-quantity-input>
                <div *ngIf="productDictionary[productKitDetails.Product.ID].errorMessage"
                     class="error-message">
                  {{productDictionary[productKitDetails.Product.ID].errorMessage}}
                </div>
              </div>
              <button ngbPanelToggle
                      class="btn btn-secondary"
                      *ngIf="productDictionary[productKitDetails.Product.ID]?.specs?.length > 0">
                {{ accordion.isExpanded(productKitDetails.Product.ID) ? 'collapse' : 'expand' }}
              </button>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <ocm-spec-form *ngIf="productDictionary[productKitDetails.Product.ID]?.specs?.length > 0"
                           [disabledVariants]="productDictionary[productKitDetails.Product.ID].disabledVariants"
                           [compact]="true"
                           [currency]="productKitDetails.Product?.xp?.Currency"
                           [specs]="productDictionary[productKitDetails.Product.ID].specs"
                           (specFormChange)="onSpecFormChange(productKitDetails.Product.ID, $event.detail)">
            </ocm-spec-form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="my-3 float-right"
           *ngIf="_product && _product.Attachments.length > 0">
        <strong><span translate>PRODUCTS.DETAILS.DOCS</span>:</strong>
        <div class="mt-2">
          <a class="border border-medium border-radius p-2 mr-2"
             *ngFor="let attachment of _product.Attachments"
             [href]="attachment.Url"
             target="_blank"
             download="attachment.FileName">{{attachment.FileName}}</a>
        </div>
      </div>
      <button class="btn btn-block btn-primary mb-3"
              type="submit"
              [disabled]="isAddingToCart || !areQuantitesValid()"
              (click)="addToCart()"
              translate>
        PRODUCTS.DETAILS.ADD_TO_CART
      </button>
    </div>
  </div>
</div>