<div class="container">
  <ocm-profile-nav [context]="context">
    <div *ngIf="order">
      <nav class="breadcrumb"
           aria-label="breadcrumb">
        <a class="breadcrumb-item link text-primary"
           (click)="context.router.toMyOrders()">All Orders</a>
        <a class="breadcrumb-item link text-primary"
           aria-current="page">{{order.ID}}</a>
      </nav>
      <div class="pb-2 mt-4 mb-2">
        <h2> <span class="text-muted">Order #:</span> {{order.ID}}</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div>Status:
            <ocm-order-status-icon [status]="order.Status"></ocm-order-status-icon> {{order.Status}}
          </div>
          <small class="float-left">Submitted on {{order.DateSubmitted | date: 'short'}}</small>
        </div>
        <div class="col-md-6">
          <button *ngIf="!approvalVersion"
                  class="btn btn-outline-secondary float-right"
                  (click)="toggleFavorite(order)">Favorite
            <ocm-toggle-favorite title="Favorite"
                                 [favorite]="isFavorite(order.ID)">
            </ocm-toggle-favorite>
          </button>
          <ocm-reorder *ngIf="!approvalVersion"
                       class="float-right pb-2 mr-2 mb-2"
                       [orderID]='order.ID'
                       [context]="context"></ocm-reorder>
          <ocm-order-approval *ngIf="approvalVersion"
                              class="float-right"
                              [orderID]='order.ID'
                              [context]="context"></ocm-order-approval>
        </div>
      </div>
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <button class="btn btn-link nav-link"
                  (click)="toDetails()">
            <fa-icon [icon]="faCube"></fa-icon>
            Details
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link"
                  (click)="toShipments()">
            <fa-icon [icon]="faTruck"></fa-icon>
            Shipments
          </button>
        </li>
      </ul>
    </div>
    <ocm-order-historical *ngIf="orderDetails && showDetails()"
                          [context]="context"
                          [orderDetails]="orderDetails"></ocm-order-historical>
    <ocm-order-shipments *ngIf="showShipments()"
                         [context]="context"></ocm-order-shipments>
  </ocm-profile-nav>
</div>