@import "../../.././styles/main.scss";

.resource-nav-link-container{
    width: 800px;
    margin-left: 100px;
}

@include media-breakpoint-down(md) {
    .dropdown-menu {
        border: none;
        background-color: $primary;
        .dropdown-item {
            color: rgba(255, 255, 255, 0.75);
            background-color: $primary;
            &:active {
                background-color: $primary;
            }
            &:hover {
                color: white;
            }
        }
    }
}

.logout {
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.75;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

// TODO: Fix for single level nav items
// .active-nav-group {
//     @include media-breakpoint-up(md) {
//         &:after {
//             position: absolute;
//             bottom: -15px;
//             left: 0;
//             width: 100%;
//             content: " ";
//             border-bottom: 3px solid $brand-orange !important;
//         }
//     }
// }