@import "../../.././styles/main.scss";

.navbar-oc {
    background-color: $brand-navy;
}

.resource-nav-link-container{
    width: 800px;
    margin-left: 100px;
}

.active-nav-group {
    border: 1px dashed rgba($brand-orange, 0.8);
}

.user-icon {
    color: $brand-orange;
} 

.dropdown-column-width{
    width: 200px;
}

.nav-grouping-width {
    width: 150px;
}