<nav class="navbar navbar-expand-lg navbar-light border-bottom bg-light">
  <div class="px-3">

    <!-- Mobile Menu Toggle -->
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="!isCollapsed"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navbar Menu -->
    <div class="collapse navbar-collapse d-flex"
         id="navbarSupportedContent"
         [ngClass]="{'show': !isCollapsed}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <img class="nav-link navbar-brand"
               routerLink="/home"
               width="150px"
               src="../../../assets/four51-logo.png">
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/home">
            <fa-icon [icon]="faUserCircle"
                     size="2x"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="bg-secondary">
  <div class="d-flex">
    <div class="dropdown text-center flex-fill py-2">
      <a class="text-white"
         routerLink="/products">Products
      </a>
      <div class="dropdown-content mt-2">
        <a href="#">All Products</a>
        <a href="#">Live Products</a>
        <a href="#">Pending Products</a>
        <a href="#">Promotions</a>
        <a href="#">Categories</a>
      </div>
    </div>
    <div class="dropdown text-center flex-fill py-2">
      <a class="text-white"
         routerLink="/products">Orders
      </a>
      <div class="dropdown-content mt-2">
        <a href="#">All Orders</a>
        <a href="#">Open Orders</a>
        <a href="#">Awaiting Approval</a>
        <a href="#">Shipped Orders</a>
        <a href="#">Canceled Orders</a>
      </div>
    </div>
    <div class="dropdown text-center flex-fill py-2">
      <a class="text-white"
         routerLink="/products">Buyer Orgs
      </a>
      <div class="dropdown-content mt-2">
        <a href="#">Users</a>
        <a href="#">User Groups</a>
        <a href="#">Addresses</a>
        <a href="#">Payment Methods</a>
        <a href="#">Approval Rules</a>
      </div>
    </div>
    <div class="dropdown text-center flex-fill py-2">
      <a class="text-white"
         routerLink="/products">Seller Orgs
      </a>
      <div class="dropdown-content mt-2">
        <a href="#">Users</a>
        <a href="#">User Groups</a>
        <a href="#">Addresses</a>
        <a href="#">Tax Profile</a>
        <a href="#">Notification Management</a>
      </div>
    </div>
    <div class="dropdown text-center flex-fill py-2">
      <a class="text-white"
         routerLink="/products">Suppliers
      </a>
      <div class="dropdown-content mt-2">
        <a href="#">Users</a>
        <a href="#">User Groups</a>
        <a href="#">Addresses</a>
      </div>
    </div>
    <div class="dropdown text-center flex-fill py-2">
      <a class="text-white"
         routerLink="/products">Reporting
      </a>
      <div class="dropdown-content mt-2">
        <a href="#">Product Reports</a>
        <a href="#">Order Reports</a>
        <a href="#">Buyer User Reports</a>
        <a href="#">Ect...</a>
      </div>
    </div>
    <div class="dropdown text-center flex-fill py-2">
      <a class="text-white"
         routerLink="/products">Marketplaces
      </a>
      <div class="dropdown-content mt-2">
        <a href="#">+ Add a Storefront</a>
      </div>
    </div>
  </div>
</div>