<nav class="navbar navbar-expand-lg border-bottom navbar-oc justify-content-between">

  <!-- Mobile Menu Toggle -->
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible Navbar Menu -->
  <div class="collapse navbar-collapse d-flex justify-content-between"
       id="navbarSupportedContent"
       [ngClass]="{'show': !isCollapsed}">
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <img class="nav-link navbar-brand"
               routerLink="/home"
               width="150px"
               src="../../../assets/four51-logo.png">
        </li>
        <li class="nav-item d-flex flex-column justify-content-center resource-nav-link-container"
        >
          <div class="d-flex">
            <div class="dropdown text-center flex-fill py-2"
                 *ngFor="let nav of headerConfig"
                 [ngClass]="{'active-nav-group' : nav.title === activeTitle}">
              <a class="text-white">{{ nav.title }}
              </a>
              <div class="dropdown-content mt-2">
                <a [routerLink]="route.route"
                   *ngFor="let route of nav.routes">{{ route.title }}</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/home">
          <fa-icon [icon]="faUserCircle"
                   size="2x"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>