<form [formGroup]="productForm">
  <div class="form-row">
    <div class="form-group col-6">
      <label for="TaxCodeCategory"
             translate>ADMIN.PRODUCT_EDIT.TAX_CATEGORY</label>
      <select [attr.disabled]="readonly ? true : null"
              type="dropdown"
              class="form-control"
              id="TaxCodeCategory"
              aria-describedby="Tax code category"
              (change)="onTaxCodeCategorySelection($event)"
              formControlName="TaxCodeCategory"
              placeholder="{{'ADMIN.PRODUCT_EDIT.WHICH_CATEGORY' | translate}}">
        <option default
                disabled
                [ngValue]="null">Which category best describes this product?</option>
        <!-- These are the 5 'parent' tax categories.  They are always consistent. -->
        <option value="D0000000"
                translate>ADMIN.PRODUCT_EDIT.DIGITAL_GOODS</option>
        <option value="FR000000"
                translate>ADMIN.PRODUCT_EDIT.FREIGHT</option>
        <option value="P0000000"
                translate>ADMIN.PRODUCT_EDIT.TPP</option>
        <option value="S0000000"
                translate>ADMIN.PRODUCT_EDIT.SERVICES</option>
        <option value="O0000000"
                translate>ADMIN.PRODUCT_EDIT.OTHER</option>
      </select>
    </div>
    <div class="form-group col-6">
      <product-tax-code-select-dropdown [readonly]="readonly"
                                        class="btn-block resource-btn mr-1 mb-1"
                                        [taxCodes]="taxCodes"
                                        [superMarketplaceProductEditable]="superMarketplaceProductEditable"
                                        (taxCodesSearched)="onTaxCodesSearched($event)"
                                        (onScrollEnd)="handleScrollEnd($event)"
                                        (onSelectTaxCode)="handleSelectTaxCode($event)">
      </product-tax-code-select-dropdown>
    </div>
  </div>
</form>