<ocm-profile-nav>
  <h1 class="page-heading border-bottom pb-3"
      translate>{{ approvalVersion ? ORDERS.HISTORY.TO_APPROVE : ORDERS.HISTORY.MY_ORDERS }}</h1>
  <ocm-search placeholderText="Search Orders"
              [searchTermInput]="searchTerm"
              (searched)="filterBySearch($event.detail)"></ocm-search>
  <div class="row mt-3">
    <div class="col-md-1 col-sm-6"
         *ngIf="!approvalVersion">
      <div translate>ORDERS.HISTORY.FAVORITES</div>
      <div class="mt-3 ml-3">
        <ocm-toggle-favorite [favorite]="showOnlyFavorites"
                             (favoriteChanged)="filterByFavorite($event.detail)">
        </ocm-toggle-favorite>
      </div>
    </div>
    <div class="col-md-3 col-sm-6"
         *ngIf="!approvalVersion">
      <ocm-order-status-filter></ocm-order-status-filter>
    </div>
    <div class="col">
      <ocm-order-date-filter></ocm-order-date-filter>
    </div>
  </div>
  <ocm-order-list *ngIf="orders"
                  [orders]="orders"
                  [columns]="columns"
                  [sortBy]="sortBy"
                  (updatedSort)="sortOrders($event.detail)"
                  (changedPage)="changePage($event.detail)">
  </ocm-order-list>
</ocm-profile-nav>