<div class="container-fluid">
  <!-- Buyer Visibility -->
  <div class="row pt-3 mt-3 bg-white shadow-sm buyer-visibility-alert">
    <div class="col-md-5">
      <h5>Buyer Visibility</h5>
      <p class="font-italic">Select which Buyers you would like to see {{product?.Name}} on their respective storefront apps. </p>
    </div>
    <div class="col-md-7">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Visible</th>
            <th scope="col">Buyer</th>
            <th scope="col">Default Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cursor-pointer"
              *ngFor="let buyer of buyers"
              (click)="toggleProductCatalogAssignment(buyer)">
            <td class="d-flex justify-content-start align-items-center">
              <label class="switch mb-0">
                <input class="form-check-input"
                       type="checkbox"
                       (click)="toggleProductCatalogAssignment(buyer)"
                       [checked]="isAssigned(buyer)">
                <span class="slider round"></span>
              </label>
            </td>
            <td>{{buyer.Name}}</td>
            <td>{{product?.PriceSchedule?.PriceBreaks[0]?.Price | currency}}</td>
          </tr>
        </tbody>
      </table>
      <div class="pb-3">
        <button [disabled]="!areChanges"
                class="btn btn-link"
                (click)="discardProductCatalogAssignmentChanges()">{{areChanges ? 'Cancel' : 'No Changes'}}</button>
        <button *ngIf="areChanges && !requestedUserConfirmation"
                [disabled]="!areChanges || requestedUserConfirmation"
                class="btn brand-button"
                (click)="requestUserConfirmation()">{{requestedUserConfirmation ? 'Pending Confirmation' : 'Save Changes'}}</button>
        <button *ngIf="requestedUserConfirmation && areChanges"
                class="btn btn-primary"
                (click)="executeProductCatalogAssignmentRequests()">Confirm</button>
        <div *ngIf="areChanges && requestedUserConfirmation"
             class="mt-3 pb-3 border-top">
          <div class="p-4 border-radius border-primary bg-light">
            <div class="d-flex justify-content-start align-items-center">
              <fa-icon [icon]="faExclamationCircle"
                       class="alert-icon mr-3"></fa-icon>
              <p class="mb-0 d-flex flex-column">
                <small class="font-weight-bold">This is a potentially destructive action that affects buyer-product visibility.</small>
                Please confirm that you wish to alter the visibility of this product.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Buyer Visibility -->
</div>