<resource-table-component [resourceList]="resourceList"
                          [selectedResourceID]="selectedResourceID"
                          [updatedResource]="updatedResource"
                          [resourceInSelection]="resourceInSelection"
                          [ocService]="ocService"
                          [resourceForm]="resourceForm"
                          [filterConfig]="filterConfig"
                          (searched)="searchResources($event)"
                          (hitScrollEnd)="handleScrollEnd()"
                          (changesSaved)="saveUpdates()"
                          (changesDiscarded)="discardChanges()"
                          (resourceDelete)="deleteResource()"
                          (resourceSelected)="selectResource($event)">
  <app-supplier-edit class="resource-edit"
                     *ngIf="resourceForm"
                     [resourceForm]="resourceForm"
                     [filterConfig]="filterConfig"
                     (updateResource)="updateResource($event)"></app-supplier-edit>
</resource-table-component>