<resource-table-component [resourceList]="resourceList"
                          [resourceOptions]="resourceOptions"
                          [selectedResourceID]="selectedResourceID"
                          [updatedResource]="updatedResource"
                          [resourceInSelection]="resourceInSelection"
                          [ocService]="ocService"
                          (searched)="searchResources($event)"
                          (hitScrollEnd)="handleScrollEnd()"
                          (changesSaved)="saveUpdates()"
                          (changesDiscarded)="discardChanges()"
                          (resourceDelete)="deleteResource()"
                          (applyFilters)="applyFilters()"
                          (resourceSelected)="selectResource($event)">

  <!-- filter component -->
  <form *ngIf="filterForm"
        class="d-flex flex-column filters"
        [formGroup]="filterForm">
    <div *ngFor="let filter of filterConfig.Filters"
         class="group">
      <select class="form-control input-sm"
              type="select"
              required
              [formControlName]="filter.Path">
        <option *ngFor="let option of filter.Values"
                value="{{option}}">{{option}}</option>
      </select>
      <span class="highlight"></span>
      <label>{{filter.Display}}</label>
    </div>
  </form>

  <!-- edit product -->
  <div class="resource-edit">
    <form *ngIf="resourceForm"
          [formGroup]="resourceForm">
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text"
               class="form-control"
               id="Name"
               showErrors
               aria-describedby="Name"
               formControlName="Name"
               (input)="handleUpdateResource($event, 'Name')"
               placeholder="Enter Name">
        <label for="Logo URL">Logo URL</label>
        <input type="text"
               class="form-control"
               id="Logo URL"
               showErrors
               aria-describedby="Logo URL"
               formControlName="LogoUrl"
               (input)="handleUpdateResource($event, 'xp.LogoUrl')"
               placeholder="Enter Logo URL">
        <label for="Description">Description</label>
        <reactive-quill-editor-component [resourceInSelection]="resourceInSelection"
                                         [formControlForText]="resourceForm.controls.Description"
                                         resourceField="Description"
                                         pathOnResource="xp.Description"
                                         (resourceUpdated)="updateResource($event)">
        </reactive-quill-editor-component>
        <label for="Primary Contact Name">Primary Contact Name</label>
        <input type="text"
               class="form-control"
               id="Primary Contact Name"
               aria-describedby="Primary Contact Name"
               formControlName="PrimaryContactName"
               (input)="handleUpdateResource($event, 'xp.Contacts.0.Name')"
               placeholder="Enter Primary Contact Name">
        <label for="Primary Contact Name">Primary Contact Email</label>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 id="Primary Contact Email"
                 showErrors
                 [resourceForm]="resourceForm"
                 aria-describedby="Primary Contact Email"
                 formControlName="PrimaryContactEmail"
                 (input)="handleUpdateResource($event, 'xp.Contacts.0.Email')"
                 placeholder="Enter Primary Contact Email">
        </div>
        <!-- no phone validation currently because this field has extraneous values that would break validation -->
        <div class="form-group">
          <label for="Primary Contact Phone">Primary Contact Phone</label>
          <input type="text"
                 class="form-control"
                 showErrors
                 id="Primary Contact Phone"
                 aria-describedby="Primary Contact Phone"
                 formControlName="PrimaryContactPhone"
                 (input)="handleUpdateResource($event, 'xp.Contacts.0.Phone')"
                 placeholder="Enter Primary Contact Phone">
        </div>
        <!-- specific component for this in progress -->
        <!-- <label for="Vendor Level">Vendor Level</label>
        <select class="form-control input-sm"
                type="select"
                required
                (change)="handleUpdateResource($event, 'xp.Categories.VendorLevel')"
                formControlName="VendorLevel">
          <option *ngFor="let option of filterConfig.Filters[0].Values"
                  value="{{option}}">{{option}}</option>
        </select>
        <label for="Service Category">Service Category</label>
        <select class="form-control input-sm"
                type="select"
                required
                (change)="handleUpdateResource($event, 'xp.Categories.ServiceCategory')"
                formControlName="ServiceCategory">
          <option *ngFor="let option of filterConfig.Filters[1].Values"
                  value="{{option}}">{{option}}</option>
        </select> -->
      </div>
    </form>
  </div>
</resource-table-component>