<ocm-profile-nav>
  <div>
    <h1 class="page-heading" translate>PROFILE.LOCATION_DETAILS.TITLE</h1>
    <h3 class="border-bottom pb-3 mb-3">
      <span *ngIf="address?.CompanyName">
        {{ address?.CompanyName }}
      </span>
      <span *ngIf="address?.CompanyName && address?.AddressName">
        |
      </span>
      <span *ngIf="address?.AddressName">
        {{ address?.AddressName }}
      </span>
    </h3>
  </div>

  <div class="row pt-3 mt-3 bg-white shadow-sm info-edit-container mb-5">
    <div class="col-md-5">
      <h6 translate>PROFILE.LOCATION_DETAILS.RESALE_TAX</h6>
      <p class="font-italic" translate>
        PROFILE.LOCATION_DETAILS.RESALE_TAX_INFO
      </p>
    </div>
    <div class="col-md-7">
      <div [ngClass]="{ 'bg-light': highlight }">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <a [href]="certificate.PDFUrl" target="_blank">
            <button class="btn btn-outline-primary" translate>
              PROFILE.LOCATION_DETAILS.DOWNLOAD_CERT
              <fa-icon [icon]="faDownload"></fa-icon>
            </button>
          </a>
          <p class="mb-0 text-capitalize" translate>
            PROFILE.LOCATION_DETAILS.EXP
            <span class="font-weight-bold">{{ certificate.ExpirationDate | date: 'MM/dd/yyyy' }}</span>
          </p>
        </div>
        <button
          class="btn btn-outline-primary"
          *ngIf="!showCertificateForm && userCanAdmin"
          (click)="revealCertificateForm()"
          translate
        >
          <ng-container *ngIf="hasCertificate(); else addNew" translate>
            PROFILE.LOCATION_DETAILS.REPLACE
          </ng-container>
          <ng-template #addNew translate> PROFILE.LOCATION_DETAILS.ADD </ng-template>
        </button>
      </div>
      <div *ngIf="showCertificateForm" class="mx-2 px-2 py-2 my-2 bg-light">
        <p class="font-weight-bold" translate>PROFILE.LOCATION_DETAILS.NEW_CERT</p>
        <ocm-certificate-form
          (submitted)="saveCertificate($event.detail)"
          (dismissed)="dismissCertificateForm()"
        ></ocm-certificate-form>
      </div>
    </div>
  </div>

  <ocm-user-management *ngIf="_locationID" [locationID]="_locationID"> </ocm-user-management>
</ocm-profile-nav>
