    <!-- /Product Details -->
    <div class="container-fluid">
      <div class="row pt-3">
        <div class="col-md-5">
          <h5>Product Filters</h5>
          <p class="font-italic">Configure the store front filters that your product should show up under, when buyers filter down the product list.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <perfect-scrollbar style="width: 100%; max-height: 350px;">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Filter</th>
                  <th>Filter Options</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let facet of facetOptions">
                  <tr *ngIf="!readonly || (readonly && areFacetOptionsSelected(facet))">
                    <td>
                      {{facet.Name}}
                    </td>
                    <td>
                      <ng-container *ngFor="let option of facet?.xp?.Options">
                        <div *ngIf="readonly && isFacetOptionApplied(facet, option)"
                             class="chip supplier-facet-chip readonly active">{{option}}
                          <fa-icon [icon]="faCheckCircle"></fa-icon>
                        </div>
                        <div *ngIf="!readonly"
                             class="
                                chip
                                editable
                                supplier-facet-chip"
                             (click)="toggleFacetOption(facet, option)"
                             [ngClass]="{'active': isFacetOptionApplied(facet, option)}">{{option}}
                          <fa-icon *ngIf="isFacetOptionApplied(facet, option)"
                                   [icon]="faCheckCircle"></fa-icon>
                        </div>
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>