ng-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-header {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}