<div class="container my-4"
     *ngIf="_product">
  <div class="row mb-5">
    <div [ngClass]="specs?.length > 3 ? 'col-md-4' : 'col-md-5'">
      <ocm-image-gallery *ngIf="_superProduct.Images"
                         [images]="_superProduct.Images"
                         [specs]="specForm?.value?.ctrls"></ocm-image-gallery>
    </div>
    <div [ngClass]="specs?.length > 3 ? 'col-md-5' : 'col-md-7'">
      <div class="pb-3 mb-3 border-bottom border-light">
        <a href="javascript:;"
           (click)="setActiveSupplier(_product?.xp.Facets?.supplier && _product?.xp.Facets?.supplier[0])">
          {{_product?.xp.Facets?.supplier && _product?.xp.Facets?.supplier[0]}}
        </a>
        <h1 class="h3 my-0">
          {{ _product.xp?.Facets?.manufacturer && _product.xp?.Facets?.manufacturer[0]}} {{ _product.Name }}
        </h1>
        <ocm-toggle-favorite title="Favorite"
                             (click)="$event.stopPropagation()"
                             [favorite]="isFavorite()"
                             (favoriteChanged)="setIsFavorite($event.detail)">
        </ocm-toggle-favorite>
        <!-- TODO: Uncomment to have grid spec form option and fix related bugs
      <div class="btn-group float-right"
         *ngIf="specs?.length > 0">
      <button class="btn btn-sm btn-outline-secondary"
              [ngClass]="{'active' : !showGrid}"
              (click)="toggleGrid(false)">
        <fa-icon [icon]="faListUl">
        </fa-icon>
      </button>
      <button class="btn btn-sm btn-outline-secondary"
              [ngClass]="{'active' : showGrid}"
              (click)="toggleGrid(true)">
        <fa-icon [icon]="faTh">
        </fa-icon>
      </button>
    </div> -->
      </div>
      <div *ngIf="supplierNote"
           class="alert alert-info my-3">
        <span translate>PRODUCTS.DETAILS.NOTE</span>: {{ supplierNote }}
      </div>
      <div>
        <ng-container *ngIf="!showGrid">
          <h4 class="font-weight-bold">{{ price | currency: userCurrency }}</h4>
          <!-- TODO: Plug in unit of measure when data is in OC. -->
          <p class="text-muted">{{ _product | UofM }}</p>
          <span class="badge badge-pill badge-warning"
                *ngIf="percentSavings > 0">
            <span translate>PRODUCTS.DETAILS.SAVINGS</span> {{ percentSavings }}%!
          </span>
        </ng-container>
      </div>
      <!--DISPLAY SHORT SPEC FORM -->
      <ng-container *ngIf="specs?.length < 4 && !showGrid && !_product.xp.ArtworkRequired">
        <ocm-spec-form *ngIf="isOrderable && specs?.length > 0"
                       [superProduct]="_superProduct"
                       [specs]="specs"
                       [disabledVariants]="_disabledVariants"
                       [currency]="_product?.xp?.Currency"
                       (specFormChange)="onSpecFormChange($event.detail)"
                       (isSelectionInactive)="onSelectionInactive($event.detail)">
        </ocm-spec-form>
        <ng-container *ngIf="this.isInactiveVariant">
          <strong class="text-danger">This option is unavailable and cannot be added to the cart. Please make another selection.</strong>
        </ng-container>
        <div class="d-flex flex-column mb-3"
             *ngIf="isOrderable">
          <small class="text-uppercase font-weight-bolder text-muted mb-2"
                 translate>PRODUCTS.DETAILS.QUANTITY</small>
          <div class="d-flex flex-row">
            <ocm-quantity-input class="d-inline-block mb-3 mr-3"
                                (qtyChange)="qtyChange($event.detail)"
                                [product]="_product"
                                [priceSchedule]="_product.PriceSchedule"
                                [gridDisplay]="showGrid"
                                [variantInventory]="variantInventory">
            </ocm-quantity-input>
            <button *ngIf="isQuoteProduct()"
                    class="btn btn-block btn-primary mb-3"
                    [disabled]="(specForm && !specForm?.valid) || !qtyValid"
                    (click)="openQuoteForm()"
                    translate>
              PRODUCTS.DETAILS.REQ_QUOTE
            </button>
            <button *ngIf="!isQuoteProduct()"
                    class="btn btn-block btn-primary mb-3"
                    type="submit"
                    [disabled]="isAddingToCart || (specForm && !specForm?.valid)  || !qtyValid || isInactiveVariant"
                    (click)="addToCart()"
                    translate>
              PRODUCTS.DETAILS.ADD_TO_CART
            </button>
          </div>
          <ocm-modal [state]="quoteFormModal"
                     [modalTitle]="'Request Quote'">
            <ocm-quote-request-form (formSubmitted)="submitQuoteOrder($event.detail.user)"
                                    [CurrentUser]="currentUser"
                                    (formDismissed)="dismissQuoteForm()"></ocm-quote-request-form>
          </ocm-modal>
          <ocm-modal [state]="contactSupplierFormModal"
                     [modalTitle]="'Product Inquiry'">
            <ocm-contact-supplier-form (contactFormSubmitted)="submitContactSupplierForm($event.detail.formData)"
                                       [CurrentUser]="currentUser"
                                       (contactFormDismissed)="dismissContactSupplierForm()"></ocm-contact-supplier-form>
          </ocm-modal>
        </div>
        <div *ngIf="!isOrderable"
             class="alert alert-info"
             translate>
          PRODUCTS.DETAILS.VIEW_ONLY
        </div>
      </ng-container>
      <ng-container *ngIf="showGrid">
        <ocm-grid-spec-form *ngIf="isOrderable && specs?.length > 0"
                            [specs]="specs"
                            [specForm]="specForm"
                            [superProduct]="_superProduct"
                            [product]="_product"
                            [priceSchedule]="priceSchedule">
        </ocm-grid-spec-form>
      </ng-container>
      <ng-container *ngIf="priceBreaks && priceBreaks.length > 1">
        <h3 class="small font-weight-bolder text-muted"
            translate>PRODUCTS.DETAILS.TIERED_PRICE_HEAD</h3>:
        <div class="border-bottom border-medium mb-3 pb-3">
          <span translate>PRODUCTS.DETAILS.TIERED_PRICE_DESC</span>
          <div class="d-flex flex-row">
            <span *ngFor="let priceBreak of priceBreaks; let i = index"
                  class="font-weight-bold d-flex mt-2">
              {{ getPriceBreakRange(i) }}:
              <p class="font-weight-normal ml-1 mr-4">{{ priceBreak?.Price | currency: userCurrency }}</p>
            </span>
          </div>
        </div>
      </ng-container>
      <div class="alert alert-success my-3"
           *ngIf="showRequestSubmittedMessage && ((specForm?.valid && qtyValid) || isQuoteProduct())">
        <span translate>PRODUCTS.DETAILS.SUCCESS
          <button class="btn btn-link"
                  type="button"
                  (click)="toOrderDetail()"
                  translate>
            PRODUCTS.DETAILS.VIEW_QUOTE
          </button>
        </span>
      </div>
      <div class="alert alert-success my-3"
           *ngIf="showContactSupplierFormSubmittedMessage">
        <span translate>PRODUCTS.DETAILS.THANK_YOU</span>
        <span> {{_product?.xp.Facets?.supplier && _product?.xp.Facets?.supplier[0]}}.</span>
      </div>
      <!-- PRODUCT DESCRIPTION -->
      <h3 class="small font-weight-bolder text-muted"
          translate>PRODUCTS.DETAILS.DESCRIPTION</h3>
      <p [innerHTML]="_product.Description || 'This product has no description.' | safeHTML">
      </p>
      <ng-container *ngIf="_chiliConfigs && _chiliConfigs.length">
        <strong>Available Configurations:</strong>
        <table class='table table-bordered table-condensed table-striped table-hover'>
          <tr class="table-row"
              *ngFor="let config of _chiliConfigs">
            <td><a href="products/{{_product.ID}}/{{config.ID}}">{{config.ChiliTemplateName}}</a></td>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="attachments.length > 0">
        <strong><span translate>PRODUCTS.DETAILS.DOCS</span>:</strong>
        <div class="mt-2">
          <a class="border border-medium border-radius p-2 mr-2"
             *ngFor="let attachment of attachments"
             [href]="attachment.Url"
             target="_blank"
             download="attachment.FileName">{{attachment.FileName}}</a>
        </div>
      </ng-container>
      <div class="border-top border-light mt-3"
           *ngIf="_product.xp.ProductType === 'Standard'">
        <button type="button"
                class="btn btn-link p-0 mt-3 float-right"
                (click)="openContactSupplierForm()">
          <span translate>PRODUCTS.DETAILS.CONTACT_PART_ONE</span>
          <span translate>ALIAS.SUPPLIER_LOWERCASE</span>
          <span translate>PRODUCTS.DETAILS.CONTACT_PART_TWO</span>
        </button>
      </div>
    </div>
    <!-- DISPLAY LONG SPEC FORM TO RIGHT -->
    <div class="col-md-3"
         *ngIf="specs?.length > 3">
      <div *ngIf="!showGrid"
           class="p-3 border border-medium rounded">
        <div class="d-flex justify-content-between align-items-center">
          <span class="badge badge-pill badge-warning"
                *ngIf="percentSavings > 0">
            <span translate>PRODUCTS.DETAILS.SAVINGS</span> {{ percentSavings }}%!
          </span>
        </div>
        <ocm-spec-form *ngIf="isOrderable && specs?.length > 0"
                       [specs]="specs"
                       [superProduct]="_superProduct"
                       [currency]="_product?.xp?.Currency"
                       (specFormChange)="onSpecFormChange($event.detail)"
                       (isSelectionInactive)="onSelectionInactive($event)">
        </ocm-spec-form>
        <div *ngIf="!isOrderable"
             class="alert alert-info"
             translate>
          PRODUCTS.DETAILS.VIEW_ONLY
        </div>
        <div class="d-flex flex-column"
             *ngIf="isOrderable">
          <span translate>PRODUCTS.DETAILS.QUANTITY</span>:
          <ocm-quantity-input class="d-inline-block mb-3"
                              style="max-width: 100px"
                              (qtyChange)="qtyChange($event.detail)"
                              [product]="_product"
                              [priceSchedule]="priceSchedule"
                              [variantInventory]="variantInventory">
          </ocm-quantity-input>
          <button *ngIf="isQuoteProduct()"
                  class="btn btn-block btn-primary mb-3"
                  type="submit"
                  [disabled]="(specForm && !specForm?.valid) || !qtyValid"
                  (click)="openQuoteForm()"
                  translate>
            PRODUCTS.DETAILS.REQ_QUOTE
          </button>
          <button *ngIf="!isQuoteProduct()"
                  class="btn btn-block btn-primary"
                  type="submit"
                  [disabled]="isAddingToCart || (specForm && !specForm?.valid) || !qtyValid"
                  (click)="addToCart($event)"
                  translate>
            PRODUCTS.DETAILS.ADD_TO_CART
          </button>
        </div>
      </div>
      <ocm-modal [state]="quoteFormModal"
                 [modalTitle]="'Request Quote'">
        <ocm-quote-request-form (formSubmitted)="submitQuoteOrder($event.detail.user)"
                                [CurrentUser]="currentUser"
                                (formDismissed)="dismissQuoteForm()"></ocm-quote-request-form>
      </ocm-modal>
      <ocm-modal [state]="contactSupplierFormModal"
                 [modalTitle]="'Contact Supplier'">
        <ocm-contact-supplier-form (contactFormSubmitted)="submitContactSupplierForm($event.detail.formData)"
                                   [CurrentUser]="currentUser"
                                   (contactFormDismissed)="dismissContactSupplierForm()"></ocm-contact-supplier-form>
      </ocm-modal>
    </div>
  </div>
  <ng-container *ngIf="relatedProducts$ | async; let relatedProducts">
    <ocm-product-carousel *ngIf="relatedProducts.length > 0"
                          displayTitle="Related Products"
                          [products]="relatedProducts">
    </ocm-product-carousel>
  </ng-container>
</div>