<div *ngIf="proposedShipments">
    <div *ngFor="let proposedShipment of proposedShipments.Items">
        <ocm-lineitem-table [lineItems]="getLineItemsForProposedShipment(proposedShipment)"
                            [readOnly]="true">
                            <ocm-shipping-selection-form [proposedShipment]="proposedShipment"
                                                         [supplierID]="getSupplierID(proposedShipment)"
                                                         [shipFromAddressID]="getShipFromAddressID(proposedShipment)"
                                                         [selectedProposedShipmentOptionID]="getExistingSelectionID(proposedShipment)"
                                                         (selectionChanged)="selectRate($event.detail)">
                            </ocm-shipping-selection-form>
        </ocm-lineitem-table>
    </div>
    <div class="d-flex justify-content-start align-items-center">
    <button type="submit"
            class="btn btn-primary btn-sm mr-2"
            (click)="onContinueClicked()">Save and Continue</button>
    </div>
</div>
