<div class="container py-3">
  <h1 class="mb-0"
      translate>
    CHECKOUT.CHECKOUT.CHECKOUT
  </h1>
</div>
<div class="container">
  <div *ngIf="order">
    <div class="row flex-lg-row-reverse"
         *ngIf="order.LineItemCount">
      <div class="col-lg-3">
        <ocm-order-summary [orderSummaryMeta]="orderSummaryMeta"></ocm-order-summary>
      </div>
      <div class="col-lg-9">
        <ngb-accordion [closeOthers]="true"
                       (panelChange)="beforeChange($event)"
                       #acc="ngbAccordion"
                       [activeIds]="currentPanel"
                       class="d-block shadow rounded">
          <ngb-panel *ngIf="isAnon"
                     id="login">
            <ng-template ngbPanelTitle>
              <a class="link-text"
                 translate> COMMON.LOGIN </a>
              <fa-icon class="float-right text-success"
                       *ngIf="getValidation('login')"
                       [icon]="faCheck"></fa-icon>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-4">
                  <button class="btn btn-block btn-primary"
                          routerLink="/login"
                          translate>COMMON.LOGIN</button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block btn-primary"
                          routerLink="/register"
                          translate>CHECKOUT.CHECKOUT.CREATE_ACCOUNT</button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block btn-primary"
                          (click)="toSection('shippingAddress')"
                          translate>
                    CHECKOUT.CHECKOUT.GUEST_CHECKOUT
                  </button>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="shippingAddress">
            <ng-template ngbPanelTitle>
              <!-- DESIGN: this actually doesn't need to be wrapped in an <a> because ngb-accordion takes care of it -->
              <h2 class="h5 mb-0 py-2 text-secondary"
                  translate>CHECKOUT.CHECKOUT.SHIPPING_ADDRESS</h2>
              <fa-icon class="text-success"
                       *ngIf="getValidation('shippingAddress') && (!isLoading || currentPanel !== 'shippingAddress')"
                       [icon]="faCheck"><span class="sr-only">Shipping Address Confirmed</span></fa-icon>
              <div *ngIf="!isLoading && currentPanel === 'shippingAddressLoading'">DOOOO</div>
              <ngx-spinner *ngIf="isLoading && currentPanel === 'shippingAddressLoading'"
                           bdColor="null"
                           size="small"
                           color="var(--secondary)"
                           type="ball-scale-ripple-multiple"
                           [fullScreen]="false">
                <small class="sr-only">Calculating Shipping Rates</small>
              </ngx-spinner>
            </ng-template>
            <ng-template ngbPanelContent>
              <ocm-checkout-address [isAnon]="isAnon"
                                    [order]="order"
                                    [lineItems]="lineItems"
                                    [orderPromos]="orderPromotions"
                                    (continue)="doneWithShipToAddress()"></ocm-checkout-address>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="shippingSelection">
            <ng-template ngbPanelTitle>
              <h2 class="h5 mb-0 py-2 text-secondary"
                  translate> CHECKOUT.CHECKOUT.SHIPPING_SELECTION </h2>
              <fa-icon class="text-success"
                       *ngIf="getValidation('shippingSelection') && (!isLoading || currentPanel !== 'shippingSelection')"
                       [icon]="faCheck"><span class="sr-only">Shipping Address Confirmed</span></fa-icon>
              <ngx-spinner *ngIf="isLoading && currentPanel === 'shippingSelectionLoading'"
                           bdColor="null"
                           size="small"
                           color="var(--secondary)"
                           type="ball-scale-ripple-multiple"
                           [fullScreen]="false">
                <small class="sr-only">Confirming shipping selections</small>
              </ngx-spinner>
            </ng-template>
            <ng-template ngbPanelContent>
              <ocm-checkout-shipping [order]="order"
                                     [lineItems]="lineItems"
                                     [orderPromos]="orderPromotions"
                                     [shipEstimates]="shipEstimates"
                                     (selectShipRate)="selectShipMethod($event.detail)"
                                     (continue)="doneWithShippingRates()">
              </ocm-checkout-shipping>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="payment">
            <ng-template ngbPanelTitle>
              <h2 class="h5 mb-0 py-2 text-secondary"
                  translate>CHECKOUT.CHECKOUT.PAYMENT</h2>
              <fa-icon class="float-right text-success"
                       *ngIf="getValidation('payment')  && (!isLoading || currentPanel !== 'payment')"
                       [icon]="faCheck"></fa-icon>
              <ngx-spinner *ngIf="isLoading && currentPanel === 'paymentLoading'"
                           bdColor="null"
                           size="small"
                           color="var(--secondary)"
                           type="ball-scale-ripple-multiple"
                           [fullScreen]="false">
                <small class="sr-only">Capturing payment</small>
              </ngx-spinner>
            </ng-template>
            <ng-template ngbPanelContent>
              <ocm-checkout-payment [isAnon]="isAnon"
                                    [order]="order"
                                    [orderPromos]="orderPromotions"
                                    [cards]="cards"
                                    [orderSummaryMeta]="orderSummaryMeta"
                                    (promosChanged)="updateOrderMeta($event)"
                                    (cardSelected)="onCardSelected($event.detail)"
                                    (continue)="onAcknowledgePurchaseOrder()">
              </ocm-checkout-payment>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="confirm">
            <ng-template ngbPanelTitle>
              <h2 class="h5 mb-0 py-2 text-secondary"
                  translate>CHECKOUT.CHECKOUT.CONFIRM </h2>
              <ngx-spinner *ngIf="isLoading && currentPanel === 'submitLoading'"
                           bdColor="null"
                           size="small"
                           color="var(--secondary)"
                           type="ball-scale-ripple-multiple"
                           [fullScreen]="false">
                <small class="sr-only">Submitting order</small>
              </ngx-spinner>
            </ng-template>
            <ng-template ngbPanelContent>
              <ocm-checkout-confirm [isAnon]="isAnon"
                                    [order]="order"
                                    [orderPromos]="orderPromotions"
                                    [lineItems]="lineItems"
                                    [payments]="payments"
                                    (submitOrderWithComment)="submitOrderWithComment($event.detail)">
              </ocm-checkout-confirm>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>