<div *ngFor="let field of _resourceFields">
  <div *ngIf="field.type === 'string'"
       class="form-group">
    <label for="field.field">{{field.field}}</label>
    <input type="text"
           class="form-control"
           id="{{field.field}}"
           aria-describedby="field.field"
           value="{{_resource[field.field]}}"
           (input)="handleUpdateResource($event)"
           placeholder="Enter {{field.field}}">
  </div>
  <div *ngIf="field.type === 'number'"
       class="form-group">
    <label for="field.field">{{field.field}}</label>
    <input *ngIf="field.type === 'number'"
           type="number"
           class="form-control"
           id="{{field.field}}"
           aria-describedby="field.field"
           value="{{_resource[field.field]}}"
           (input)="handleUpdateResource($event)"
           placeholder="Enter {{field.field}}">
  </div>
  <div *ngIf="field.type === 'boolean'"
       class="form-check">
    <input type="checkbox"
           class="form-check-input"
           id="{{field.field}}"
           aria-describedby="field.field"
           [checked]="_resource[field.field]"
           (input)="handleUpdateResource($event, 'boolean')">
    <label class="form-check-label"
           for="field.field">{{field.field}}</label>
  </div>
</div>