<div class="card m-3">
  <div class="card-header">
    <div class="pb-3 d-flex justify-content-between align-items-center">
        <div class="flex-column justify-content-start align-items-center">

             <div style="font-weight:bolder; margin-bottom:4px; font-size: larger;">{{notification?.Doc?.Product?.Name}}</div>
      <p class="mb-0 font-italic"><strong>{{notification?.Doc?.Product?.FieldModified}}</strong> has been edited.</p>
        </div>
      <button (click)="notificationAccept('ACCEPTED')"
            class="btn btn-primary">Accept</button>
    <!-- TODO: Reinstate the rejected button once functionality can handle the repercussions. -->
    <!-- <button (click)="reviewMonitoredFieldChange('REJECTED')"
                        class="btn btn-outline-danger ml-2">Reject</button> -->
    </div>
   
  </div>
<div class="card-body">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column">
      <small class="mb-0 text-uppercase text-muted font-weight-bolder">Previous Value</small>
      <pre class="notification-value"><code>{{notification?.Doc?.Product?.PreviousValue | json}}</code></pre>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column">
        <small class="mb-0 text-uppercase text-muted font-weight-bolder">New Value</small>
        <pre class="notification-value"><code>{{notification?.Doc?.Product?.CurrentValue | json}}</code></pre>
      </div>
    </div>
  </div>
</div>

<small class="card-footer mb-0 font-italic">Edited by {{notification?.Doc?.History?.ModifiedBy?.Name}} of {{notification?.Doc?.Supplier?.Name}} on {{notification?.Doc?.History?.DateModified | date}}</small>
</div>